.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 18px;

  &__title {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;

    @include mobile {
      font-size: 14px;
    }

    & img {
      width: 15px;
      height: 15px;

      @include mobile {
        width: 13px;
        height: 13px;
      }
    }
  }

  & ul {
    @include list-reset;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 225px;

    @include small-tablet {
      max-width: 100%;
    }

    @include mobile {
      gap: 4px;
    }
  }

  & .ui-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: var(--border);
    transition: color var(--transition-300);

    @include mobile {
      font-size: 12px;
    }

    &:hover {
      color: var(--accent);
    }

    &:focus {
      outline: none;
      color: var(--accent);
    }
  }

  &__link {
    width: 160px;
    color: var(--white);

    @include small-tablet {
      width: 167px;
    }
  }
}
