.form-field {
  position: relative;
  display: flex;
  flex-direction: column;

  &:has(.form-field__input#name) {
    grid-column: span 2;
  }

  &:has(.form-field__input#comment) {
    grid-column: span 2;
  }

  &__label {
    padding-right: 3px;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: var(--grey);
  }

  &__input {
    padding: 13.5px 0;
    border: none;
    border-bottom: 1px solid var(--grey);
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--white);
    transition: border-color var(--transition-300);

    @include mobile {
      padding: 14.5px 0;
      font-size: 14px;
    }


    &:autofill,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: var(--white);
      caret-color: var(--white);
      border-bottom: 1px solid var(--grey);

      -webkit-box-shadow: 0 0 0 1000px rgba(0, 4, 4, .8) inset;
      box-shadow: 0 0 0 1000px rgba(0, 4, 4, .8) inset;

      -webkit-background-clip: text;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: var(--white);

      @include mobile {
        font-size: 14px;
      }
    }

    &:hover {
      border-color: var(--white);
    }

    &:focus-visible {
      outline: none;
      border-color: var(--white);
    }

    &:focus-visible::placeholder {
      opacity: 0;
    }

    &--textarea {
      width: 100%;
      resize: none;
    }
  }

  &--required {
    .form-field__label::after {
      content: "*";
      color: var(--red);
    }
  }

  &--filled {
    .form-field__btn-clear {
      opacity: 1;
      pointer-events: all;
    }
  }

  &--error {
    .form-field__input {
      border-color: var(--red);
    }

    .form-field__error {
      display: block;
    }
  }

  &__error {
    position: absolute;
    bottom: -16px;
    left: 0;
    display: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: var(--red);
  }

  &__btn-clear {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 13px;
    right: 0;
    @include btn-reset;
    width: 16px;
    height: 16px;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;

    & svg {
      width: 16px;
      height: 16px;
      stroke: var(--border);
      stroke-width: 1.5px;
      transition: stroke var(--transition-300);
    }

    &:hover {
      svg {
        stroke: var(--white);
      }
    }
    &:focus {
      outline: none;
      svg {
        stroke: var(--white);
      }
    }
  }
}
