.form-agree {

  &__label {
    position: relative;
    display: block;
    padding-left: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: var(--white);
    cursor: pointer;

    @include mobile {
      font-size: 12px;
    }

    & a {
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: var(--white);
      text-decoration: underline;
      transition: color var(--transition-300);

      @include mobile {
        font-size: 12px;
      }

      &:hover {
        color: var(--accent);
      }

      &:focus {
        outline: none;
        color: var(--accent);
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 20px;
      height: 20px;
      background-color: var(--white);
      border: 1px solid var(--grey);
      transition: border-color var(--transition-300),
                  background-color var(--transition-300);
    }

    &:hover::before {
      border-color: var(--accent);
    }
    &:has(.form-agree__input:checked)::before {
      background-color: var(--accent);
    }
    &:has(.form-agree__input:checked) .form-agree__icon {
      opacity: 1;
    }
  }

  &__icon {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    left: 3px;
    opacity: 0;

    svg {
      width: 14px;
      height: 14px;
      stroke: var(--white);
      stroke-width: 2px;
      stroke-linecap: round;
      fill: none;
    }
  }
}
