.header {
  --link-color: var(--black);
  --link-hover: var(--accent);
  --link-border-color: var(--black-24);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 18.5px 0;
  border-bottom: 1px solid var(--white-24);
  z-index: 20;
  background-color: var(--white);
  transition: background-color var(--transition-300), transform var(--transition-300);

  @include mobile {
    padding: 15px 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__logo {
    flex-shrink: 0;

    @include small-mobile {
      flex-shrink: unset;
    }

    & img {
      @include mobile {
        aspect-ratio: 126 / 38;
      }
    }

    & .logo__img--light {
      display: none;
    }
    & .logo__img--white {
      display: none;
    }
  }

  &__bottom {
    display: none;

    @include mobile {
      display: flex;
    }
  }

  &__action {
    display: flex;
    align-items: center;
  }

  &__lang {
    margin-right: 8px;
    border-color: var(--link-border-color);

    @include mobile {
      margin-right: 10px;
    }

    .lang__link {
      color: var(--link-color);
    }

    .lang__current {
      color: var(--link-color);
    }

    svg {
      stroke: var(--link-color);
    }

    &:hover {
      border-color: var(--link-hover);

      .lang__current {
        color: var(--link-hover);
      }

      svg {
        stroke: var(--link-hover);
      }
    }

    &:focus-within {
      outline: none;
      border-color: var(--link-hover);

      .lang__current {
        outline: none;
        color: var(--link-hover);
      }

      svg {
        stroke: var(--link-hover);
      }
    }

    &.is-open {
      .lang__list {
        border-color: var(--link-border-color);
      }
    }
  }

  &__burger {
    display: none;

    @include tablet {
      display: flex;
    }
  }

  & .burger {
    --burger-color: var(--link-color);
    --burger-border: var(--link-border-color)
  }

  & .ui-iconlink {
    color: var(--link-color);

    .ui-iconlink__icon {
      stroke: var(--link-color);

      @include mobile {
        stroke: var(--grey);
      }
    }

    &:hover {
      .ui-iconlink__icon {
        stroke: var(--link-hover);
      }
      .ui-iconlink__text {
        color: var(--accent);
      }
    }

    &:focus {
      outline: none;
      .ui-iconlink__icon {
        stroke: var(--link-hover);
      }
      .ui-iconlink__text {
        color: var(--accent);
      }
    }

    &__text {
      display: none;

      @include mobile {
        display: block;
      }
    }
  }

  & .ui-iconlink--fill {
    .ui-iconlink__icon {
      fill: var(--link-color);
      stroke: none;

      @include mobile {
        fill: var(--grey);
      }
    }

    &:hover {
      .ui-iconlink__icon {
        fill: var(--link-hover);
        stroke: none;
      }
    }
    &:focus {
      .ui-iconlink__icon {
        fill: var(--link-hover);
        stroke: none;
      }
    }
  }

  &__link {
    @include mobile {
      display: none;
    }
  }

  &__phone {
    @include btn-reset;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    border: 1px solid var(--link-border-color);
    border-radius: 100px;
    color: var(--link-color);
    transition: color var(--transition-300), border-color var(--transition-300);

    @include small-desktop {
      padding: 12px;
      margin-right: 8px;
      border-radius: 15px;
      width: 43px;
      height: 43px;
    }

    @include mobile {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }

    &:hover {
      color: var(--link-hover);
      border-color: var(--accent);

      & svg {
        stroke: var(--link-hover);
        fill: var(--link-hover);
      }
    }

    &:focus-visible {
      color: var(--link-hover);
      border-color: var(--accent);
      outline: none;

      & svg {
        stroke: var(--link-hover);
      }
    }

    & span {
      @include small-desktop {
        display: none;
      }
    }

    & svg {
      display: none;
      fill: var(--link-color);
      width: 20px;
      height: 20px;
      transition: stroke var(--transition-300), fill var(--transition-300);

      @include small-desktop {
        display: flex;
      }
    }
  }

  & .nav {
    --nav-link-color: var(--link-color);
  }

  &__nav {
    position: relative;
    @include tablet {
      position: fixed;
      top: 86px;
      left: 0;
      z-index: 50;
      display: flex;
      justify-content: end;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      transition:
        opacity var(--transition-300),
        visibility var(--transition-300);
    }

    @include mobile {
      top: 73px;
    }

    &:has(.nav.is-open) {
      opacity: 1;
      visibility: visible;
    }
  }

  &__overlay {
    display: none;

    @include tablet {
      position: absolute;
      display: block;
      inset: 0;
      width: 100%;
      height: 100%;
      background-color: var(--black-40);
      z-index: -5;
    }
  }

  &:has(.nav.is-open) {
    background-color: var(--link-hover);

    .logo__img {
      display: none;
    }

    .logo__img--white {
      display: block;
    }
  }

  &__searchbar {
    .searchbar__btn svg {
      stroke: var(--link-color);
    }

    .searchbar__btn:hover {
      svg {
        stroke: var(--link-hover);
      }
    }

    .searchbar__btn:focus {
      outline: none;
      svg {
        stroke: var(--link-hover);
      }
    }

    @include mobile {
      display: none;
    }
  }

  &:has(.burger.is-open) {
    .header__searchbar .searchbar__btn svg {
      stroke: var(--white);
    }
    .ui-iconlink__icon {
      stroke: var(--white);
    }
    .ui-iconlink__link-count {
      color: var(--accent);
      background-color: var(--white);
    }
    .nav .ui-link  {
      color: var(--white);
    }
    .nav [data-dropdown-open] svg {
      stroke: var(--white);
    }
    .header__phone {
      border-color: var(--white);
    }
    .header__phone svg {
      fill: var(--white);
    }
    .header__lang {
      z-index: 55;
      border-color: var(--white);
    }
    .lang__current {
      color: var(--white);
    }
    .lang__current svg {
      stroke: var(--white);
    }
    .lang__link {
      color: var(--white);
    }
    .header__lang.is-open .lang__list {
      border-color: var(--white);
    }
  }

  //блюр для скролла
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    backdrop-filter: blur(40px); //по макету 10рх, но так ничего не видно
    background-color: var(--white-24);
    transition: background-color var(--transition-300), opacity var(--transition-300);
  }

  &.scroll {
    &::after {
      opacity: 1;
    }
  }

  // Класс для скрытой шапки
  &.header--hidden {
    transform: translateY(-100%);
  }

  &--light {
    --link-color: var(--white);
    --link-hover: var(--accent);
    --link-border-color: var(--white-24);
    background-color: transparent;

    & .logo__img--light {
      display: block;
    }
    & .logo__img--black {
      display: none;
    }
  }
}
