.link-chevron {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: var(--black);

  &:hover {
    .link-chevron__icon {
      transform: translateX(6px);
    }
  }

  &:focus {
    outline: none;
    .link-chevron__icon {
      transform: translateX(6px);
    }
  }

  @include tablet {
    font-size: 18px;
  }

  @include mobile {
    font-size: 16px;
  }

  &__icon {
    width: 24px;
    height: 24px;
    stroke-width: 1.5px;
    stroke-linecap: round;
    stroke: var(--accent);
    fill: none;
    transform: translateX(0);
    transition: transform var(--transition-300);
  }

  &--down {
    .link-chevron__icon {
      transform: rotate(90deg);
    }

    &:hover {
      .link-chevron__icon {
        transform: rotate(90deg) translateX(6px);
      }
    }
    &:focus {
      .link-chevron__icon {
        transform: rotate(90deg) translateX(6px);
      }
    }
  }
}
