.map-pin {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 300px;
    height: 1px;
    background-color: var(--grey);

    @include big-desktop {
      top: 50%;
      transform: translateY(-50%);
      left: -125px;
      width: 120px;
    }

    @include small-tablet {
      width: 78px;
      left: -85px;
    }

    @include mobile {
      height: 0.3px;
    }

    @include small-mobile {
      width: 50px;
      left: -55px;
    }
  }

  &__text {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    @include small-tablet {
      font-size: 14px;
    }
  }

  &__icon {
    position: absolute;
    top: -16px;
    right: -111px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--accent);
    animation: pin-dot 1s infinite;

    @include big-desktop {
      left: -135px;
      right: auto;
      top: 11px;
    }

    @include tablet {
      width: 20px;
      height: 20px;
    }

    @include tablet-xl {
      width: 14px;
      height: 14px;
      top: 14px;
    }

    @include small-tablet {
      left: -95px;
      top: 12px;
    }

    @include mobile {
      width: 6px;
      height: 6px;
      left: -88px;
      top: 17px;
    }

    @include small-mobile {
      left: -55px;
    }

    &::before {
      content: '';
      position: absolute;
      top: -22px;
      left: -22px;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      border: 1px solid var(--grey);
      transform-origin: center;
      animation: pin-pulse 1s infinite;

      @include tablet {
        top: -18px;
        left: -18px;
        width: 56px;
        height: 56px;
      }

      @include tablet-xl {
        top: -10px;
        left: -10px;
        width: 34px;
        height: 34px;
      }

      @include mobile {
        top: -7px;
        left: -7px;
        width: 20px;
        height: 20px;
        border-width: 0.3px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: -52px;
      left: -52px;
      width: 125px;
      height: 125px;
      border-radius: 50%;
      border: 1px solid var(--grey);
      opacity: 20%;
      transform-origin: center;
      animation: pin-pulse 1s infinite;
      animation-delay: 0.1s;

      @include tablet {
        top: -40px;
        left: -40px;
        width: 100px;
        height: 100px;
      }

      @include tablet-xl {
        top: -25px;
        left: -25px;
        width: 64px;
        height: 64px;
      }

      @include mobile {
        top: -16px;
        left: -16px;
        width: 38px;
        height: 38px;
        border-width: 0.3px;
      }
    }
  }
}

@keyframes pin-pulse {
  0% {
    transform: scale(0.85);
    opacity: 0;
  }

  35% {
    opacity: 0.4;
  }

  100% {
    transform: scale(1.15);
    opacity: 0;
  }
}

@keyframes pin-dot {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.07);
  }
}
