.promo {
  position: relative;
  padding: 86px 0 0;
  width: 100%;

  &__container {
    position: relative;
    z-index: 5;
    color: var(--white);

    @media (max-width: 1550px) {
      padding: 0 6.032vw;
    }
  }

  &__slider-nav {
    --container-max: 1702px;
    --width: min(var(--container-max), calc(100% - 32px));
    width: var(--width);
    transform: translateY(-50%);
    justify-content: space-between;
    z-index: 5;
    position: absolute;
    left: max(16px, calc((100% - var(--width)) / 2));
    right: max(16px, calc((100% - var(--width)) / 2));
    top: 50%;
    transform: translateY(-50%);

    @include small-desktop {
      display: none;
    }
  }

  &__bgimg {
    position: absolute;
    inset: 0;
    z-index: 1;

    & img {
      width: 100%;
      height: 100%;
    }

    &::before {
      position: absolute;
      content: "";
      inset: 0;
      width: 100%;
      height: 100%;
      background-color: var(--black-56);
      z-index: 2;
    }
  }

  &__title {
    margin-bottom: 24px;
  }

  &__descr {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 27px;
    max-width: 560px;

    & p {
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
    }

    & ul {
      @include list-reset;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    & ul>li {
      min-height: 20px;
      padding-left: 24px;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      background-image: url("../../img/svg/marker-blue.svg");
      background-repeat: no-repeat;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  & .swiper-slide {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &__subtitle {
    margin-bottom: 30px;
    color: var(--white);
    padding: 0;
    border: none;
  }

  &__img {
    flex-shrink: 0;
    padding: 46px 0 132px;

    @include big-desktop {
      flex-shrink: unset;
    }

    & img {
      aspect-ratio: 665 / 592;
    }
  }
}
