.single-services {
  &__title {
    margin-bottom: 50px;
    font-size: 56px;
    font-weight: 500;
    line-height: 100%;
    color: var(--black);

    @include small-desktop {
      font-size: 46px;
    }
    @include tablet {
      margin-bottom: 30px;
      font-size: 36px;
    }
    @include small-tablet {
      font-size: 32px;
    }
    @media (max-width: 375px) {
      margin-bottom: 20px;
      font-size: 26px;
    }
  }
}
