.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 30px;
  flex: 1;

  @include small-tablet {
    padding: 0;
  }

  &__link {
    position: absolute;
    inset: 0;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    height: 100%;
    flex: 1;
  }

  &__category {
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: var(--grey);
  }

  &__title {
    margin: 0 0 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: var(--black);

    @include mobile {
      font-size: 14px;
    }
  }

  &__prices {
    margin-bottom: 16px;
  }

  &__quantity {
    display: none;
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    margin-top: auto;
    z-index: 2;
  }

  &__add-to-cart,
  &__more-btn {
    width: 100%;
  }

  &__remove-compare {
    @include btn-reset;
    display: none;
    align-items: center;
    padding: 0 31px;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #808080;
    text-align: left;
    transition: color var(--transition-300);

    &:hover {
      color: var(--accent);
    }
    &:focus {
      outline: none;
      color: var(--accent);
    }
  }

  &__btns {
    position: absolute;
    top: 0;
    right: 30px;
    display: flex;
    align-items: center;
    gap: 4px;

    @include mobile {
      right: 0;
      gap: 10px;
    }
  }

  &__like,
  &__compare,
  &__remove {
    @include btn-reset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: var(--bg);

    @include mobile {
      width: 39px;
      height: 39px;
    }

    &:hover {
      svg {
        fill: var(--accent);
        stroke: var(--accent);
      }
    }

    &:focus-visible,
    &:focus {
      outline: none;
      svg {
        fill: var(--accent);
        stroke: var(--accent);
      }
    }

    & svg {
      width: 24px;
      height: 24px;
      fill: none;
      stroke: var(--grey);
      stroke-width: 1.5px;
      transition:
        stroke var(--transition-300),
        fill var(--transition-300);
    }
  }

  &__like {
    &.active {
      svg {
        stroke: var(--accent);
        fill: var(--accent);
      }
    }
  }

  &__remove {
    display: none;

    &:hover {
      svg {
        fill: var(--accent);
        stroke: none;
      }
    }
    &:focus {
      outline: none;
      svg {
        fill: var(--accent);
      }
    }

    svg {
      stroke: none;
      fill: var(--grey);
    }
  }

  //удалить из сравнения
  &__remove-btn {
    @include btn-reset;
    display: none;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;

    @include small-tablet {
      width: 40px;
      height: 40px;
    }

    &:hover {
      svg {
        fill: var(--accent);
      }
    }
    &:focus {
      outline: none;
      svg {
        fill: var(--accent);
      }
    }

    svg {
      width: 24px;
      height: 24px;
      fill: #808080;
      stroke: none;
      transition: fill var(--transition-300);

      @include small-tablet {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__label {
    position: absolute;
    top: 0;
    left: 30px;
    padding: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    border-radius: 4.4px;
    background-color: var(--red);
    color: var(--white);

    @include mobile {
      left: 0;
      font-size: 14px;
    }
  }

  // Карточка товара в корзине
  &--cart {
    flex-direction: row;
    gap: 20px;
    padding: 0;

    .product-card__img img {
      width: 217px;
      aspect-ratio: 1 / 1;

      @include mobile {
        width: 90px;
      }
    }

    .product-card__title {
      @include mobile {
        margin-bottom: 6px;
        grid-column: span 2;
      }
    }

    .product-card__action {
      display: none;
    }

    .product-card__wrap {
      padding: 8px 0 27px;

      @include mobile {
        display: grid;
        grid-template-columns: auto 87px;
        justify-content: space-between;
        padding: 0;
      }
    }

    .product-card__quantity {
      display: flex;
      z-index: 3;

      @include mobile {
        justify-self: end;
      }
    }

    .product-card__prices {
      margin-top: 0;
      margin-bottom: 30px;
      flex-wrap: wrap;

      @include mobile {
        margin-bottom: 0;
      }
      @include small-mobile {
        gap: 0;
      }
    }

    .prices__current {
      @include mobile {
        font-size: 18px;
      }
    }
    .prices__old {
      @include mobile {
        font-size: 14px;
      }
    }

    .product-card__title {
      max-width: 70%;

      @include mobile {
        max-width: 100%;
      }
    }

    .product-card__btns {
      right: 0;
      gap: 0;
      @include mobile {
        display: none;
      }
    }

    .product-card__remove {
      display: flex;
    }
    .product-card__remove, .product-card__like {
      width: 40px;
      height: 40px;
      background-color: transparent;
    }
    .product-card__compare {
      display: none;
    }
    .product-card__compare {
      display: none;
    }
    .product-card__remove-btn {
      display: none;
    }
  }

  // Карточка товара при сравнении
  &--compare {
    padding: 0;
    .product-card__compare {
      display: none;
    }
    .prices__old {
      display: none;
    }
    .prices__current {
      @include small-tablet {
        font-size: 20px;
      }
    }
    .product-card__wrap {
      margin-bottom: 0;
    }
    .product-card__more-btn {
      display: none;
    }
    .product-card__remove-compare {
      display: flex;

      @include small-tablet {
        display: none;
      }
    }
    .product-card__category {
      @include small-tablet {
        font-size: 10px;
      }
    }
    .product-card__title {
      margin-bottom: 9px;

      @include small-tablet {
        font-size: 12px;
      }
    }
    .product-card__label {
      display: none;
    }
    .product-card__prices {
      margin-bottom: 9px;
    }
    .product-card__remove-btn {
      @include small-tablet {
        display: flex;
      }
    }
    .product-card__add-to-cart {
      @include small-tablet {
        max-width: 80px;
        padding: 8px;
      }
      @include small-mobile {
        max-width: 60px;
      }
      span {
        @include tablet {
          display: none;
        }
      }
      svg {
        display: none;
        width: 24px;
        height: 24px;
        stroke: none;
        fill: white;

        @include tablet {
          display: block;
        }
      }
    }
    .product-card__btns {
      @include small-tablet {
        top: auto;
        bottom: 0;
        right: 0;
        gap: 0;
      }
    }
  }
}
