.promo {
  position: relative;
  padding: 86px 0 0;
  width: 100%;

  @include mobile {
    padding-top: 73px;
  }

  &__container {
    position: relative;
    z-index: 5;
    color: var(--white);
    padding-bottom: 132px;
    padding-top: 46px;

    @media (max-width: 1550px) {
      padding: 46px 6.032vw 132px;
    }

    @include small-desktop {
      padding: 40px 16px 60px;
    }

    @include small-tablet {
      padding: 45px 16px 18px;
    }

    @include small-mobile {
      padding: 28px 16px 16px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      top: 0;
      right: 16px;
      width: 1px;
      height: 100%;
      background-color: var(--white-24);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      top: 0;
      right: 47%;
      width: 1px;
      height: 100%;
      background-color: var(--white-24);

      @include small-tablet {
        right: auto;
        left: 16px;
      }
    }
  }

  &__slider-nav {
    --container-max: 1702px;
    --width: min(var(--container-max), calc(100% - 32px));
    width: var(--width);
    transform: translateY(-50%);
    justify-content: space-between;
    z-index: 5;
    position: absolute;
    left: max(16px, calc((100% - var(--width)) / 2));
    right: max(16px, calc((100% - var(--width)) / 2));
    top: 50%;
    transform: translateY(-50%);
    z-index: 7;

    @include small-desktop {
      display: none;
    }
  }

  &__bgimg {
    position: absolute;
    inset: 0;
    z-index: 1;

    & img {
      width: 100%;
      height: 100%;
    }

    &::before {
      position: absolute;
      content: "";
      inset: 0;
      width: 100%;
      height: 100%;
      background-color: var(--black-56);
      z-index: 2;
    }
  }

  &__content {
    @include tablet {
      max-width: 48.828vw;
    }

    @include small-tablet {
      max-width: 100%;
      padding: 0 16px;
    }
  }

  &__title {
    margin-bottom: 24px;

    @include mobile {
      margin-bottom: 15px;
    }

    @include small-mobile {
      font-size: 22px;
    }
  }

  &__descr {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    max-width: 560px;

    @include mobile {
      margin-bottom: 15px;
    }

    & p {
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;

      @include mobile {
        font-size: 14px;
      }
    }

    & ul {
      @include list-reset;
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include small-tablet {
        gap: 10px;
      }
    }

    & ul>li {
      min-height: 20px;
      padding-left: 24px;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      background-image: url("../../img/svg/marker-blue.svg");
      background-repeat: no-repeat;

      @include mobile {
        font-size: 14px;
      }
    }

    &--list {
      gap: 20px;
      margin-bottom: 27px;

      @include mobile {
        gap: 10px;
        margin-bottom: 15px;
      }
    }
  }

  &__action {
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      justify-content: space-between;
      gap: 9px;
    }

    & a {
      @include mobile {
        width: 100%;
      }
    }
  }

  & .swiper-slide {
    display: flex;
    align-items: center;
    gap: 50px;

    @include tablet {
      gap: 12px;
    }
  }

  &__subtitle {
    margin-bottom: 30px;
    color: var(--white);
    padding: 0;
    border: none;

    @include small-tablet {
      display: none;
    }
  }

  &__img {
    flex-shrink: 0;

    @include big-desktop {
      flex-shrink: unset;
    }

    @include small-tablet {
      display: none;
    }

    &--mobile {
      display: none;

      @include small-tablet {
        display: block;
        margin-bottom: 10px;
      }
    }

    & img {
      aspect-ratio: 665 / 592;

      @include small-tablet {
        width: 100%;
        aspect-ratio: 311 / 277;
      }
    }
  }
}
