.sec-catalog {
  overflow: hidden;

  &__subtitle {
    margin-bottom: 50px;
  }

  &__slider {
    overflow: hidden;
    margin-right: -260px;
    padding-right: 260px;

    @include mobile {
      margin-right: 0;
      padding-right: 0;
    }
  }
}
