.sec-catalog {
  overflow: hidden;

  &__subtitle {
    margin-bottom: 50px;

    @include small-desktop {
      margin-bottom: 32px;
    }

    @include tablet {
      margin-bottom: 24px;
    }

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__slider {
    overflow: hidden;
    margin-right: -260px;
    padding-right: 260px;

    @include mobile {
      margin-right: 0;
      padding-right: 0;
    }
  }
}
