.sec-title {
  padding: 0;
  margin: 0 0 50px;
  font-weight: 500;
  font-size: 56px;
  line-height: 100%;

  @include big-desktop {
    font-size: 50px;
  }

  @include small-desktop {
    font-size: 44px;
  }

  @include tablet {
    margin-bottom: 30px;
    font-size: 38px;
  }

  @include mobile {
    margin-bottom: 20px;
    font-size: 26px;
  }

  @include small-mobile {
    font-size: 24px;
  }
}
