.slider-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  pointer-events: none;

  &__btn {
    @include btn-reset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: var(--bg);
    pointer-events: auto;
    transition: background-color var(--transition-300);

    @include mobile {
      width: 40px;
      height: 40px;
    }

    &:hover {
      background-color: var(--black);

      .slider-nav__icon {
        stroke: var(--white);
      }
    }

    &:focus {
      outline: none;
      background-color: var(--black);

      .slider-nav__icon {
        stroke: var(--white);
      }
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: var(--grey);
    stroke-width: 1.5px;
    stroke-linecap: round;
    transition: stroke var(--transition-300);
  }
}
