.topbtn {
  --btn-color: var(--white);
  --hover-color: var(--accent);

  @include btn-reset;
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid var(--btn-color);
  background-color: var(--black);
  opacity: 0;
  visibility: hidden;
  transform: translateY(60px);
  pointer-events: none;
  z-index: 20;
  transition: border-color var(--transition-300),
              opacity var(--transition-300),
              transform var(--transition-300),
              visibility var(--transition-300);

  @include mobile {
    bottom: 80px;
    right: 16px;
  }

  &:hover {
    border-color: var(--hover-color);

    .topbtn__icon {
      stroke: var(--hover-color);
    }
  }

  &:hover {
    outline: none;
    border-color: var(--hover-color);

    .topbtn__icon {
      stroke: var(--hover-color);
    }
  }

  &.is-visible {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }

  &__icon {
    width: 40px;
    height: 36px;
    fill: none;
    stroke: var(--btn-color);
    stroke-width: 1.5px;
    transform: rotate(-90deg);
    transition: stroke var(--transition-300);
  }


}
