<div class="single-services__accordion accordion" data-aos="fade-up">
  <div class="accordion__item">
    <button class="accordion__control" type="button">
      <span class="accordion__title">Описание</span>
      <span class="accordion__icon">
        <svg class="link-chevron__icon">
          <use xlink:href="img/sprite.svg#chevrons-right"></use>
        </svg>
      </span>
    </button>
    <div class="accordion__content" aria-hidden="true">
      <div class="accordion__body">
        <p>
          Бюджетная лабораторная центрифуга с 5 совместимыми роторами. Простая
          в управлении, недорогая и надёжная центрифуга, обладающая рядом
          преимуществ по сравнению с аналогами.
        </p>
        <p>
          Доступная базовая низкоскоростная центрифуга для применения
          в медицинских, ветеринарных и других лабораториях с небольшим
          количеством проб.
        </p>
        <p>
          Оснащается стандартным ротором на 12 мест с комплектом адаптеров
          для пробирок 2–13 мл высотой до 112 мл.
        </p>
        <p>
          Дополнительно можно оснастить либо ротором на 8 мест для пробирок
          объёмом до 15 мл и высотой до 121 мм. (тип Falcon 15 мл), либо ротором
          на 4 места для пробирок до 50 мл (тип Falcon 50 мл).
        </p>
        <p>
          Есть специальная версия с роторами для гель-карт на 12 или 24 места.
          Применяется для серологического тестирования по группам крови
          или для других исследований.
        </p>
        <p>
          Скорость до 2800 об/мин. Имеется вся разрешительная документация
          для использования в РФ.
        </p>

        <ul class="accordion__body-list">
          <li class="accordion__body-item">
            <svg>
              <use xlink:href="img/sprite.svg#marker-blue"></use>
            </svg>
            <span>Устойчивая к вибрациям конструкция центрифуги</span>
          </li>
          <li class="accordion__body-item">
            <svg>
              <use xlink:href="img/sprite.svg#marker-blue"></use>
            </svg>
            <span
              >Надежный, не требующий обслуживания, бесщеточный двигатель</span
            >
          </li>
          <li class="accordion__body-item">
            <svg>
              <use xlink:href="img/sprite.svg#marker-blue"></use>
            </svg>
            <span
              >Высокая точность поддержания скорости вращения, обеспечиваемая
              микропроцессорной системой управления</span
            >
          </li>
          <li class="accordion__body-item">
            <svg>
              <use xlink:href="img/sprite.svg#marker-blue"></use>
            </svg>
            <span>Плавный разгон и торможение</span>
          </li>
          <li class="accordion__body-item">
            <svg>
              <use xlink:href="img/sprite.svg#marker-blue"></use>
            </svg>
            <span>Четыре режима скорости - 1000, 1500, 2000, 2800 об/мин</span>
          </li>
          <li class="accordion__body-item">
            <svg>
              <use xlink:href="img/sprite.svg#marker-blue"></use>
            </svg>
            <span>Таймер</span>
          </li>
          <li class="accordion__body-item">
            <svg>
              <use xlink:href="img/sprite.svg#marker-blue"></use>
            </svg>
            <span
              >Автоматическая блокировка запуска центрифуги при открытой крышке
              и автоматическое торможение при открытии крышки во время
              работы</span
            >
          </li>
          <li class="accordion__body-item">
            <svg>
              <use xlink:href="img/sprite.svg#marker-blue"></use>
            </svg>
            <span>Низкий уровень шума</span>
          </li>
          <li class="accordion__body-item">
            <svg>
              <use xlink:href="img/sprite.svg#marker-blue"></use>
            </svg>
            <span
              >Возможность быстрой поставки адаптеров и запасных частей со
              склада производителя</span
            >
          </li>
          <li class="accordion__body-item">
            <svg>
              <use xlink:href="img/sprite.svg#marker-blue"></use>
            </svg>
            <span>Гарантийный срок эксплуатации - 2 года.</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion__item">
    <button class="accordion__control" type="button">
      <span class="accordion__title">Технические характеристики</span>
      <span class="accordion__icon">
        <svg class="link-chevron__icon">
          <use xlink:href="img/sprite.svg#chevrons-right"></use>
        </svg>
      </span>
    </button>
    <div class="accordion__content" aria-hidden="true"></div>
  </div>

  <div class="accordion__item">
    <button class="accordion__control" type="button">
      <span class="accordion__title">Сопутствующие документы</span>
      <span class="accordion__icon">
        <svg class="link-chevron__icon">
          <use xlink:href="img/sprite.svg#chevrons-right"></use>
        </svg>
      </span>
    </button>
    <div class="accordion__content" aria-hidden="true"></div>
  </div>

  <div class="accordion__item">
    <button class="accordion__control" type="button">
      <span class="accordion__title">Аксессуары</span>
      <span class="accordion__icon">
        <svg class="link-chevron__icon">
          <use xlink:href="img/sprite.svg#chevrons-right"></use>
        </svg>
      </span>
    </button>
    <div class="accordion__content" aria-hidden="true">
      <div class="accordion__wrap">
        <div class="product-card">
          <a href="#" class="product-card__link"></a>
          <picture class="product-card__img">
            <source
              media="(max-width: 768px)"
              srcset="img/catalog/accessories-img-mobile-Se-12-15.jpg"
              width="343"
            />
            <source
              srcset="img/catalog/accessories-img-S-8-15.webp 1x"
              type="image/webp"
            />
            <img
              src="img/catalog/accessories-img-S-8-15.jpg"
              alt="Фото аксессуара"
              width="354"
              height="331"
              loading="lazy"
            />
          </picture>
          <div class="product-card__wrap">
            <span class="product-card__category">Аксессуары</span>
            <h3 class="product-card__title">Бакет-ротор S-8-15</h3>
            <div class="product-card__prices prices">
              <span class="prices__current">Цена: По запросу</span>
            </div>
            <div class="product-card__action">
              <button
                class="product-card__add-to-cart ui-btn ui-btn--accent"
                type="button"
              >
                В корзину
              </button>
              <a
                class="product-card__more-btn ui-btn ui-btn--ghost-blue open-modal"
                href="#"
                >Подробнее</a
              >
            </div>
          </div>
          <!-- Кнопки Избранное и Сравнение -->
          <div class="product-card__btns">
            <button
              class="product-card__like"
              aria-label="Добавить товар в избранное"
            >
              <svg>
                <use xlink:href="img/sprite.svg#wishlist"></use>
              </svg>
            </button>
            <button
              class="product-card__compare"
              aria-label="Добавить товар в сравнение"
            >
              <svg>
                <use xlink:href="img/sprite.svg#compare"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="product-card">
          <a href="#" class="product-card__link"></a>
          <picture class="product-card__img">
            <source
              media="(max-width: 768px)"
              srcset="img/catalog/accessories-img-mobile-Se-12-15.jpg"
              width="343"
            />
            <source
              srcset="img/catalog/accessories-img-Se-12-15.webp 1x"
              type="image/webp"
            />
            <img
              src="img/catalog/accessories-img-Se-12-15.jpg"
              alt="Фото аксессуара"
              width="354"
              height="331"
              loading="lazy"
            />
          </picture>
          <div class="product-card__wrap">
            <span class="product-card__category">Аксессуары</span>
            <h3 class="product-card__title">Бакет-ротор Se-12-15</h3>
            <div class="product-card__prices prices">
              <span class="prices__current">Цена: По запросу</span>
            </div>
            <div class="product-card__action">
              <button
                class="product-card__add-to-cart ui-btn ui-btn--accent"
                type="button"
              >
                В корзину
              </button>
              <a
                class="product-card__more-btn ui-btn ui-btn--ghost-blue open-modal"
                href="#"
                >Подробнее</a
              >
            </div>
          </div>
          <!-- Кнопки Избранное и Сравнение -->
          <div class="product-card__btns">
            <button
              class="product-card__like"
              aria-label="Добавить товар в избранное"
            >
              <svg>
                <use xlink:href="img/sprite.svg#wishlist"></use>
              </svg>
            </button>
            <button
              class="product-card__compare"
              aria-label="Добавить товар в сравнение"
            >
              <svg>
                <use xlink:href="img/sprite.svg#compare"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="product-card">
          <a href="#" class="product-card__link"></a>
          <picture class="product-card__img">
            <source
              media="(max-width: 768px)"
              srcset="img/catalog/accessories-img-mobile-Se-12-15.jpg"
              width="343"
            />
            <source
              srcset="img/catalog/accessories-img-S-12-GCARD.webp 1x"
              type="image/webp"
            />
            <img
              src="img/catalog/accessories-img-S-12-GCARD.jpg"
              alt="Фото аксессуара"
              width="354"
              height="331"
              loading="lazy"
            />
          </picture>
          <div class="product-card__wrap">
            <span class="product-card__category">Аксессуары</span>
            <h3 class="product-card__title">Бакет-ротор S-12-GCARD</h3>
            <div class="product-card__prices prices">
              <span class="prices__current">Цена: По запросу</span>
            </div>
            <div class="product-card__action">
              <button
                class="product-card__add-to-cart ui-btn ui-btn--accent"
                type="button"
              >
                В корзину
              </button>
              <a
                class="product-card__more-btn ui-btn ui-btn--ghost-blue open-modal"
                href="#"
                >Подробнее</a
              >
            </div>
          </div>
          <!-- Кнопки Избранное и Сравнение -->
          <div class="product-card__btns">
            <button
              class="product-card__like"
              aria-label="Добавить товар в избранное"
            >
              <svg>
                <use xlink:href="img/sprite.svg#wishlist"></use>
              </svg>
            </button>
            <button
              class="product-card__compare"
              aria-label="Добавить товар в сравнение"
            >
              <svg>
                <use xlink:href="img/sprite.svg#compare"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="product-card">
          <a href="#" class="product-card__link"></a>
          <picture class="product-card__img">
            <source
              media="(max-width: 768px)"
              srcset="img/catalog/accessories-img-mobile-Se-12-15.jpg"
              width="343"
            />
            <source
              srcset="img/catalog/accessories-img-S-8-15.webp 1x"
              type="image/webp"
            />
            <img
              src="img/catalog/accessories-img-S-8-15.jpg"
              alt="Фото аксессуара"
              width="354"
              height="331"
              loading="lazy"
            />
          </picture>
          <div class="product-card__wrap">
            <span class="product-card__category">Аксессуары</span>
            <h3 class="product-card__title">Бакет-ротор S-8-15</h3>
            <div class="product-card__prices prices">
              <span class="prices__current">Цена: По запросу</span>
            </div>
            <div class="product-card__action">
              <button
                class="product-card__add-to-cart ui-btn ui-btn--accent"
                type="button"
              >
                В корзину
              </button>
              <a
                class="product-card__more-btn ui-btn ui-btn--ghost-blue open-modal"
                href="#"
                >Подробнее</a
              >
            </div>
          </div>
          <!-- Кнопки Избранное и Сравнение -->
          <div class="product-card__btns">
            <button
              class="product-card__like"
              aria-label="Добавить товар в избранное"
            >
              <svg>
                <use xlink:href="img/sprite.svg#wishlist"></use>
              </svg>
            </button>
            <button
              class="product-card__compare"
              aria-label="Добавить товар в сравнение"
            >
              <svg>
                <use xlink:href="img/sprite.svg#compare"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="product-card">
          <a href="#" class="product-card__link"></a>
          <picture class="product-card__img">
            <source
              media="(max-width: 768px)"
              srcset="img/catalog/accessories-img-mobile-Se-12-15.jpg"
              width="343"
            />
            <source
              srcset="img/catalog/accessories-img-Se-12-15.webp 1x"
              type="image/webp"
            />
            <img
              src="img/catalog/accessories-img-Se-12-15.jpg"
              alt="Фото аксессуара"
              width="354"
              height="331"
              loading="lazy"
            />
          </picture>
          <div class="product-card__wrap">
            <span class="product-card__category">Аксессуары</span>
            <h3 class="product-card__title">Бакет-ротор Se-12-15</h3>
            <div class="product-card__prices prices">
              <span class="prices__current">Цена: По запросу</span>
            </div>
            <div class="product-card__action">
              <button
                class="product-card__add-to-cart ui-btn ui-btn--accent"
                type="button"
              >
                В корзину
              </button>
              <a
                class="product-card__more-btn ui-btn ui-btn--ghost-blue open-modal"
                href="#"
                >Подробнее</a
              >
            </div>
          </div>
          <!-- Кнопки Избранное и Сравнение -->
          <div class="product-card__btns">
            <button
              class="product-card__like"
              aria-label="Добавить товар в избранное"
            >
              <svg>
                <use xlink:href="img/sprite.svg#wishlist"></use>
              </svg>
            </button>
            <button
              class="product-card__compare"
              aria-label="Добавить товар в сравнение"
            >
              <svg>
                <use xlink:href="img/sprite.svg#compare"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="product-card">
          <a href="#" class="product-card__link"></a>
          <picture class="product-card__img">
            <source
              media="(max-width: 768px)"
              srcset="img/catalog/accessories-img-mobile-Se-12-15.jpg"
              width="343"
            />
            <source
              srcset="img/catalog/accessories-img-S-12-GCARD.webp 1x"
              type="image/webp"
            />
            <img
              src="img/catalog/accessories-img-S-12-GCARD.jpg"
              alt="Фото аксессуара"
              width="354"
              height="331"
              loading="lazy"
            />
          </picture>
          <div class="product-card__wrap">
            <span class="product-card__category">Аксессуары</span>
            <h3 class="product-card__title">Бакет-ротор S-12-GCARD</h3>
            <div class="product-card__prices prices">
              <span class="prices__current">Цена: По запросу</span>
            </div>
            <div class="product-card__action">
              <button
                class="product-card__add-to-cart ui-btn ui-btn--accent"
                type="button"
              >
                В корзину
              </button>
              <a
                class="product-card__more-btn ui-btn ui-btn--ghost-blue open-modal"
                href="#"
                >Подробнее</a
              >
            </div>
          </div>
          <!-- Кнопки Избранное и Сравнение -->
          <div class="product-card__btns">
            <button
              class="product-card__like"
              aria-label="Добавить товар в избранное"
            >
              <svg>
                <use xlink:href="img/sprite.svg#wishlist"></use>
              </svg>
            </button>
            <button
              class="product-card__compare"
              aria-label="Добавить товар в сравнение"
            >
              <svg>
                <use xlink:href="img/sprite.svg#compare"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
