<section class="advantages sec-offset">
  <div class="advantages__container container">
    <span class="advantages__subtitle sec-subtitle" data-aos="fade-up" data-aos-delay="200">
      <svg>
        <use xlink:href="img/sprite.svg#marker-blue"></use>
      </svg>
      <span>Преимущества</span>
    </span>
    <h2 class="advantages__title sec-title" data-aos="fade-up" data-aos-delay="400">Листон — лидер в производстве лабораторного оборудования</h2>
    <ul class="advantages__list" data-aos="fade-up" data-aos-delay="500">
    <li class="advantages__item">
      <div class="card-advantage">
        <span class="card-advantage__img">
          <img src="img/svg/advantage.svg" alt="" aria-hidden="true" width="40" height="40" loading="lazy">
        </span>
        <div class="card-advantage__info">
          <span class="card-advantage__value">12 + лет</span>
          <span class="card-advantage__text">на рынке медицинского оборудования</span>
        </div>
      </div>
    </li>
    <li class="advantages__item">
      <div class="card-advantage">
        <span class="card-advantage__img">
          <img src="img/svg/advantage.svg" alt="" aria-hidden="true" width="40" height="40" loading="lazy">
        </span>
        <div class="card-advantage__info">
          <span class="card-advantage__value">50+ стран</span>
          <span class="card-advantage__text">поставки по всему миру</span>
        </div>
      </div>
    </li>
    <li class="advantages__item">
      <div class="card-advantage">
        <span class="card-advantage__img">
          <img src="img/svg/advantage.svg" alt="" aria-hidden="true" width="40" height="40" loading="lazy">
        </span>
        <div class="card-advantage__info">
          <span class="card-advantage__value">2 года</span>
          <span class="card-advantage__text">гарантия на всё оборудование</span>
        </div>
      </div>
    </li>
    <li class="advantages__item">
      <div class="card-advantage">
        <span class="card-advantage__img">
          <img src="img/svg/advantage.svg" alt="" aria-hidden="true" width="40" height="40" loading="lazy">
        </span>
        <div class="card-advantage__info">
          <span class="card-advantage__value">ISO 13485</span>
          <span class="card-advantage__text">международный сертификат качества</span>
        </div>
      </div>
    </li>
  </ul>
  </div>
  <!-- Фоновая картинка -->
  <picture class="advantages__bgimg" data-aos="fade-up">
    <source media="(max-width: 768px)" srcset="img/advantages/img-bg.webp" type="image/webp">
    <source media="(max-width: 768px)" srcset="img/advantages/img-bg-mobile.jpg" type="image/jpg">
    <source srcset="img/advantages/img-bg.webp 1x, img/advantages/img-bg@2x.webp 2x" type="image/webp">
    <img src="img/advantages/img-bg.jpg" srcset="img/advantages/img-bg@2x.jpg" width="1920" height="700" alt="" aria-hidden="true" loading="lazy"/>
  </picture>

</section>
