<section class="advantages sec-offset">
  <div class="advantages__container container">
    <span class="advantages__subtitle sec-subtitle" data-aos="fade-up">
      <svg>
        <use xlink:href="img/sprite.svg#marker-blue"></use>
      </svg>
      <span>Преимущества</span>
    </span>
    <h2 class="advantages__title sec-title" data-aos="fade-up" data-aos-delay="200">Преимущества дистилляторов Liston</h2>
    <ul class="advantages__list" data-aos="fade-up" data-aos-delay="400">
    <li class="advantages__item">
      <div class="card-advantage">
        <span class="card-advantage__img">
          <img src="img/svg/advantage.svg" alt="" aria-hidden="true" width="40" height="40" loading="lazy">
        </span>
        <div class="card-advantage__info">
          <span class="card-advantage__value">Встроенный сборник</span>
          <span class="card-advantage__text">из нержавеющей стали</span>
        </div>
      </div>
    </li>
    <li class="advantages__item">
      <div class="card-advantage">
        <span class="card-advantage__img">
          <img src="img/svg/advantage.svg" alt="" aria-hidden="true" width="40" height="40" loading="lazy">
        </span>
        <div class="card-advantage__info">
          <span class="card-advantage__value">Автоматическое отключение</span>
          <span class="card-advantage__text">при заполнении</span>
        </div>
      </div>
    </li>
    <li class="advantages__item">
      <div class="card-advantage">
        <span class="card-advantage__img">
          <img src="img/svg/advantage.svg" alt="" aria-hidden="true" width="40" height="40" loading="lazy">
        </span>
        <div class="card-advantage__info">
          <span class="card-advantage__value">≤ 2,5 µS/см</span>
          <span class="card-advantage__text">проводимость ≤ 2,5 µS/см (очищенная вода по Фармакопее)</span>
        </div>
      </div>
    </li>
    <li class="advantages__item">
      <div class="card-advantage">
        <span class="card-advantage__img">
          <img src="img/svg/advantage.svg" alt="" aria-hidden="true" width="40" height="40" loading="lazy">
        </span>
        <div class="card-advantage__info">
          <span class="card-advantage__value">35–40 °C</span>
          <span class="card-advantage__text">температура дистиллята 35–40 °C без внешнего охладителя</span>
        </div>
      </div>
    </li>
    <li class="advantages__item">
      <div class="card-advantage">
        <span class="card-advantage__img">
          <img src="img/svg/advantage.svg" alt="" aria-hidden="true" width="40" height="40" loading="lazy">
        </span>
        <div class="card-advantage__info">
          <span class="card-advantage__value">Легкая очистка</span>
          <span class="card-advantage__text">без разборки корпуса</span>
        </div>
      </div>
    </li>
    <li class="advantages__item">
      <div class="card-advantage">
        <span class="card-advantage__img">
          <img src="img/svg/advantage.svg" alt="" aria-hidden="true" width="40" height="40" loading="lazy">
        </span>
        <div class="card-advantage__info">
          <span class="card-advantage__value">Российское производство</span>
          <span class="card-advantage__text">запасные части в наличии</span>
        </div>
      </div>
    </li>
  </ul>
  </div>
  <!-- Фоновая картинка -->
  <picture class="advantages__bgimg">
    <source media="(max-width: 768px)" srcset="img/advantages/img-bg.webp" type="image/webp">
    <source media="(max-width: 768px)" srcset="img/advantages/img-bg-mobile.jpg" type="image/jpg">
    <source srcset="img/advantages/img-bg.webp 1x, img/advantages/img-bg@2x.webp 2x" type="image/webp">
    <img src="img/advantages/img-bg.jpg" srcset="img/advantages/img-bg@2x.jpg" width="1920" height="700" alt="" aria-hidden="true" loading="lazy"/>
  </picture>

</section>
