<div class="container">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a href="index.html" class="breadcrumbs__link">Главная</a>
    </li>
    <li class="breadcrumbs__item">
      <a href="#" class="breadcrumbs__link">О компании</a>
    </li>
    <li class="breadcrumbs__item">
      <a href="#" class="breadcrumbs__link">Статьи</a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--current">
      <span
        >Как работает медицинский дистиллятор и для чего это нужно</span
      >
    </li>
  </ul>
</div>
