<section class="category sec-offset">
  <div class="category__container container">
    <h2 class="category__title sec-title">Дистилляторы</h2>
    <h3 class="category__heading">О дистилляторах Liston</h3>
    <p class="category__descr">
      Дистилляторы воды «Листон» предназначены для получения очищенной воды в медицинских, косметологических и промышленных
      лабораториях. Модели со встроенным сборником объёмом от 8 до 25 л, автоматическим управлением и защитой от перегрева.
      Проводимость дистиллята не более 2,5 µS/см, что соответствует требованиям Фармакопеи.
    </p>
    <div class="category__content">
      <div class="category__nav category-nav">
        <span class="category-nav__title">Другие категории</span>
        <ul class="category-nav__list">
          <li class="category-nav__item">
            <a href="" class="category-nav__link">
              <span>Центрифуги</span>
              <svg>
                <use xlink:href="img/sprite.svg#chevrons-right"></use>
              </svg>
            </a>
          </li>
          <li class="category-nav__item">
            <a href="" class="category-nav__link">
              <span>Бани водяные</span>
              <svg>
                <use xlink:href="img/sprite.svg#chevrons-right"></use>
              </svg>
            </a>
          </li>
          <li class="category-nav__item">
            <a href="" class="category-nav__link">
              <span>Оборудование для молочных лабораторий</span>
              <svg>
                <use xlink:href="img/sprite.svg#chevrons-right"></use>
              </svg>
            </a>
          </li>
          <li class="category-nav__item">
            <a href="" class="category-nav__link">
              <span>Деструкторы</span>
              <svg>
                <use xlink:href="img/sprite.svg#chevrons-right"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <ul class="category__products">
        <li class="category__item">
          <div class="product-card">
            <a href="product-card.html" class="product-card__link"></a>
            <picture class="product-card__img">
              <source media="(max-width: 768px)" srcset="img/catalog/product-img-mobile.png" width="343">
              <source srcset="img/catalog/product-img.webp 1x" type="image/webp">
              <img src="img/catalog/product-img.png" alt="Фото товара" width="334" height="331" loading="lazy">
            </picture>
            <div class="product-card__wrap">
              <span class="product-card__category">Дистиллятор</span>
              <h3 class="product-card__title">Электрический дистиллятор воды Liston A1125</h3>
              <div class="product-card__prices prices">
                <span class="prices__current">125 500 ₽</span>
                <span class="prices__old">100000 ₽</span>
              </div>
              <div class="product-card__action">
                <button class="product-card__add-to-cart ui-btn ui-btn--accent" type="button">В корзину</button>
                <a class="product-card__more-btn ui-btn ui-btn--ghost-blue" href="product-card.html">Подробнее</a>
              </div>
            </div>
            <!-- Кнопки Избранное и Сравнение -->
            <div class="product-card__btns">
              <button class="product-card__like" aria-label="Добавить товар в избранное">
                <svg>
                  <use xlink:href="img/sprite.svg#wishlist"></use>
                </svg>
              </button>
              <button class="product-card__compare" aria-label="Добавить товар в сравнение">
                <svg>
                  <use xlink:href="img/sprite.svg#compare"></use>
                </svg>
              </button>
            </div>
          </div>
        </li>
        <li class="category__item">
          <div class="product-card">
            <a href="product-card.html" class="product-card__link"></a>
            <picture class="product-card__img">
              <source media="(max-width: 768px)" srcset="img/catalog/product-img-mobile.png" width="343">
              <source srcset="img/catalog/product-img.webp 1x" type="image/webp">
              <img src="img/catalog/product-img.png" alt="Фото товара" width="334" height="331" loading="lazy">
            </picture>
            <div class="product-card__wrap">
              <span class="product-card__category">Дистиллятор</span>
              <h3 class="product-card__title">Электрический дистиллятор воды Liston A1125</h3>
              <div class="product-card__prices prices">
                <span class="prices__current">125 500 ₽</span>
                <span class="prices__old">100000 ₽</span>
              </div>
              <div class="product-card__action">
                <button class="product-card__add-to-cart ui-btn ui-btn--accent" type="button">В корзину</button>
                <a class="product-card__more-btn ui-btn ui-btn--ghost-blue" href="product-card.html">Подробнее</a>
              </div>
            </div>
            <!-- Кнопки Избранное и Сравнение -->
            <div class="product-card__btns">
              <button class="product-card__like" aria-label="Добавить товар в избранное">
                <svg>
                  <use xlink:href="img/sprite.svg#wishlist"></use>
                </svg>
              </button>
              <button class="product-card__compare" aria-label="Добавить товар в сравнение">
                <svg>
                  <use xlink:href="img/sprite.svg#compare"></use>
                </svg>
              </button>
            </div>
          </div>
        </li>
        <li class="category__item">
          <div class="product-card">
            <a href="product-card.html" class="product-card__link"></a>
            <picture class="product-card__img">
              <source media="(max-width: 768px)" srcset="img/catalog/product-img-mobile.png" width="343">
              <source srcset="img/catalog/product-img.webp 1x" type="image/webp">
              <img src="img/catalog/product-img.png" alt="Фото товара" width="334" height="331" loading="lazy">
            </picture>
            <div class="product-card__wrap">
              <span class="product-card__category">Дистиллятор</span>
              <h3 class="product-card__title">Электрический дистиллятор воды Liston A1125</h3>
              <div class="product-card__prices prices">
                <span class="prices__current">125 500 ₽</span>
                <span class="prices__old">100000 ₽</span>
              </div>
              <div class="product-card__action">
                <button class="product-card__add-to-cart ui-btn ui-btn--accent" type="button">В корзину</button>
                <a class="product-card__more-btn ui-btn ui-btn--ghost-blue" href="product-card.html">Подробнее</a>
              </div>
            </div>
            <!-- Кнопки Избранное и Сравнение -->
            <div class="product-card__btns">
              <button class="product-card__like" aria-label="Добавить товар в избранное">
                <svg>
                  <use xlink:href="img/sprite.svg#wishlist"></use>
                </svg>
              </button>
              <button class="product-card__compare" aria-label="Добавить товар в сравнение">
                <svg>
                  <use xlink:href="img/sprite.svg#compare"></use>
                </svg>
              </button>
            </div>
          </div>
        </li>
        <li class="category__item">
          <div class="product-card">
            <a href="product-card.html" class="product-card__link"></a>
            <picture class="product-card__img">
              <source media="(max-width: 768px)" srcset="img/catalog/product-img-mobile.png" width="343">
              <source srcset="img/catalog/product-img.webp 1x" type="image/webp">
              <img src="img/catalog/product-img.png" alt="Фото товара" width="334" height="331" loading="lazy">
            </picture>
            <div class="product-card__wrap">
              <span class="product-card__category">Дистиллятор</span>
              <h3 class="product-card__title">Электрический дистиллятор воды Liston A1125</h3>
              <div class="product-card__prices prices">
                <span class="prices__current">125 500 ₽</span>
                <span class="prices__old">100000 ₽</span>
              </div>
              <div class="product-card__action">
                <button class="product-card__add-to-cart ui-btn ui-btn--accent" type="button">В корзину</button>
                <a class="product-card__more-btn ui-btn ui-btn--ghost-blue" href="product-card.html">Подробнее</a>
              </div>
            </div>
            <!-- Кнопки Избранное и Сравнение -->
            <div class="product-card__btns">
              <button class="product-card__like" aria-label="Добавить товар в избранное">
                <svg>
                  <use xlink:href="img/sprite.svg#wishlist"></use>
                </svg>
              </button>
              <button class="product-card__compare" aria-label="Добавить товар в сравнение">
                <svg>
                  <use xlink:href="img/sprite.svg#compare"></use>
                </svg>
              </button>
            </div>
          </div>
        </li>
        <li class="category__item">
          <div class="product-card">
            <a href="product-card.html" class="product-card__link"></a>
            <picture class="product-card__img">
              <source media="(max-width: 768px)" srcset="img/catalog/product-img-mobile.png" width="343">
              <source srcset="img/catalog/product-img.webp 1x" type="image/webp">
              <img src="img/catalog/product-img.png" alt="Фото товара" width="334" height="331" loading="lazy">
            </picture>
            <div class="product-card__wrap">
              <span class="product-card__category">Дистиллятор</span>
              <h3 class="product-card__title">Электрический дистиллятор воды Liston A1125</h3>
              <div class="product-card__prices prices">
                <span class="prices__current">125 500 ₽</span>
                <span class="prices__old">100000 ₽</span>
              </div>
              <div class="product-card__action">
                <button class="product-card__add-to-cart ui-btn ui-btn--accent" type="button">В корзину</button>
                <a class="product-card__more-btn ui-btn ui-btn--ghost-blue" href="product-card.html">Подробнее</a>
              </div>
            </div>
            <!-- Кнопки Избранное и Сравнение -->
            <div class="product-card__btns">
              <button class="product-card__like" aria-label="Добавить товар в избранное">
                <svg>
                  <use xlink:href="img/sprite.svg#wishlist"></use>
                </svg>
              </button>
              <button class="product-card__compare" aria-label="Добавить товар в сравнение">
                <svg>
                  <use xlink:href="img/sprite.svg#compare"></use>
                </svg>
              </button>
            </div>
          </div>
        </li>
        <li class="category__item">
          <div class="product-card">
            <a href="product-card.html" class="product-card__link"></a>
            <picture class="product-card__img">
              <source media="(max-width: 768px)" srcset="img/catalog/product-img-mobile.png" width="343">
              <source srcset="img/catalog/product-img.webp 1x" type="image/webp">
              <img src="img/catalog/product-img.png" alt="Фото товара" width="334" height="331" loading="lazy">
            </picture>
            <div class="product-card__wrap">
              <span class="product-card__category">Дистиллятор</span>
              <h3 class="product-card__title">Электрический дистиллятор воды Liston A1125</h3>
              <div class="product-card__prices prices">
                <span class="prices__current">125 500 ₽</span>
                <span class="prices__old">100000 ₽</span>
              </div>
              <div class="product-card__action">
                <button class="product-card__add-to-cart ui-btn ui-btn--accent" type="button">В корзину</button>
                <a class="product-card__more-btn ui-btn ui-btn--ghost-blue" href="product-card.html">Подробнее</a>
              </div>
            </div>
            <!-- Кнопки Избранное и Сравнение -->
            <div class="product-card__btns">
              <button class="product-card__like" aria-label="Добавить товар в избранное">
                <svg>
                  <use xlink:href="img/sprite.svg#wishlist"></use>
                </svg>
              </button>
              <button class="product-card__compare" aria-label="Добавить товар в сравнение">
                <svg>
                  <use xlink:href="img/sprite.svg#compare"></use>
                </svg>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
