<div class="contact-form sec-offset" id="contact-form">
  <div class="contact-form__container container">
    <div class="contact-form__content">
      <span class="contact-form__subtitle sec-subtitle">
        <svg>
          <use xlink:href="img/sprite.svg#marker-blue"></use>
        </svg>
        <span>Оформление заказа</span>
      </span>
      <p class="contact-form__descr">
        Для оформления заказа укажите, пожалуйста, свои данные и мы свяжемся с вами в ближайшее время:
      </p>
      <div class="contact-form__form form">
        <div class="form__content">
          <div class="form__field form-field">
            <label class="form-field__label" for="email">Почта</label>
            <input class="form-field__input" type="email" id="email" placeholder="info@gmail.com">
            <button class="form-field__btn-clear" type="button" aria-label="Очистить поле ввода">
              <svg class="header-bottom__icon">
                <use xlink:href="img/sprite.svg#close"></use>
              </svg>
            </button>
            <span class="form-field__error">Неверное значение</span>
          </div>
          <div class="form__field form-field form-field--required">
            <label class="form-field__label" for="phone">Телефон</label>
            <input class="form-field__input" type="text" id="phone" placeholder="+7 ___ ___ ____">
            <button class="form-field__btn-clear" type="button" aria-label="Очистить поле ввода">
              <svg class="header-bottom__icon">
                <use xlink:href="img/sprite.svg#close"></use>
              </svg>
            </button>
            <span class="form-field__error">Неверное значение</span>
          </div>
          <div class="form__field form-field form-field--required">
            <label class="form-field__label" for="name">Контактное лицо</label>
            <input class="form-field__input" type="text" id="name" placeholder="Иван">
            <button class="form-field__btn-clear" type="button" aria-label="Очистить поле ввода">
              <svg class="header-bottom__icon">
                <use xlink:href="img/sprite.svg#close"></use>
              </svg>
            </button>
            <span class="form-field__error">Неверное значение</span>
          </div>
          <div class="form__field form-field">
            <label class="form-field__label" for="name">Название компании</label>
            <input class="form-field__input" type="text" id="name" placeholder="ООО «Листон»">
            <button class="form-field__btn-clear" type="button" aria-label="Очистить поле ввода">
              <svg class="header-bottom__icon">
                <use xlink:href="img/sprite.svg#close"></use>
              </svg>
            </button>
            <span class="form-field__error">Неверное значение</span>
          </div>
          <div class="form__control">
            <div class="form__agree form-agree">
              <label class="form-agree__label" for="agree">
                <input class="form-agree__input visually-hidden" type="checkbox" id="agree">
                <span>
                  Я ознакомлен(-а) и согласен(-на) с <a href="#">Политикой конфиденциальности</a> и даю свое
                  согласие на обработку своих персональных данных в соответствии с указанными условиями
                </span>
                <span class="form-agree__icon">
                  <svg>
                    <use xlink:href="img/sprite.svg#check"></use>
                  </svg>
                </span>
              </label>
            </div>
            <button class="form__btn ui-btn" type="submit">Отправить заказ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
