<div id="cookie-notice" class="cookie-notice">
  <div class="cookie-notice__container">
    <p class="cookie-notice__text">
      Этот сайт использует <a class="cookie-notice__link" href="#">cookies</a> для сбора статистики и анализа работы сайта. Просим согласиться
      на сбор и обработку ваших метаданных или отключить cookies в настройках браузера. Подробнее
      вы можете ознакомиться в нашей <a class="cookie-notice__link" href="#">Политике конфиденциальности</a>.
    </p>
    <button id="cookie-accept" class="cookie-notice__btn ui-btn">Хорошо</button>
  </div>
</div>
