<footer class="footer">
  <div class="footer__container container">
    <div class="footer__top">
      <!-- Лого -->
      <a href="/" class="footer__logo logo">
        <img class="logo__img" src="img/logo.svg" alt="Logo Листон" width="223" height="66">
      </a>
      <!-- Выбор языка -->
      <div class="footer__lang footer__lang--mobile">
        <ul class="footer__lang-list">
          <li class="footer__lang-item">
            <a href="#" class="footer__lang-link footer__lang-link--current">РУ</a>
          </li>
          <li class="footer__lang-item">
            <a href="#" class="footer__lang-link">EN</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Кнопка Заказать звонок -->
    <button class="footer__callback ui-btn" type="button">Заказать звонок</button>
    <!-- Адреса -->
    <div class="footer__addresses">
      <div class="address">
        <span class="address__name">Адрес</span>
        <span class="address__value">
          249191, Калужская область, г. Жуков, ул. Сельхозтехника, д. 15
        </span>
      </div>
      <div class="address">
        <span class="address__name">Офис в г. Москва (склада нет)</span>
        <span class="address__value">
          119334, Россия, г. Москва, 5-й Донской пр., д. 15, офис 19
        </span>
      </div>
    </div>
    <!-- Меню -->
    <div class="footer__menu">
      <div class="footer-menu">
        <h3 class="footer-menu__title">
          <img src="img/svg/marker-white.svg" alt="" aria-hidden="true" width="19" height="19">
          <span>О компании</span>
        </h3>
        <ul>
          <li><a href="#" class="ui-link">Сертификаты и разрешительная документация</a></li>
          <li><a href="reviews.html" class="ui-link">Отзывы</a></li>
          <li><a href="news.html" class="ui-link">Новости</a></li>
          <li><a href="#" class="ui-link">Статьи</a></li>
          <li><a href="#" class="ui-link">Поддержка</a></li>
          <li><a href="#" class="ui-link">Стать сервис партнером</a></li>
          <li><a href="#" class="ui-link">Корзина</a></li>
          <li><a href="#" class="ui-link">Сравнение</a></li>
          <li><a href="favorites.html" class="ui-link">Избранное</a></li>
          <li><a href="contacts.html" class="ui-link">Контакты</a></li>
        </ul>
      </div>
      <div class="footer-menu">
        <h3 class="footer-menu__title">
          <img src="img/svg/marker-white.svg" alt="" aria-hidden="true" width="20" height="20">
          <span>Каталог</span>
        </h3>
        <ul>
          <li><a href="#" class="ui-link">Центрифуги</a></li>
          <li><a href="catalog-detailed.html" class="ui-link">Аквадистилляторы</a></li>
          <li><a href="#" class="ui-link">Бани водяные</a></li>
          <li><a href="#" class="ui-link">Оборудование для молочных лабораторий</a></li>
          <li><a href="#" class="ui-link">Деструкторы</a></li>
        </ul>
        <a href="#" class="footer-menu__link ui-btn ui-btn--ghost-blue" target="_blank" rel="noopener noreferrer">
          Скачать прайс
        </a>
      </div>
      <div class="footer-menu">
        <h3 class="footer-menu__title">
          <img src="img/svg/marker-white.svg" alt="" aria-hidden="true" width="20" height="20">
          <span>Информация</span>
        </h3>
        <ul>
          <li><a href="delivery.html" class="ui-link">Доставка и оплата</a></li>
          <li><a href="#" class="ui-link">Политика конфиденциальности</a></li>
          <li><a href="#" class="ui-link">Политика конфиденциальности</a></li>
          <li><a href="textpage.html" class="ui-link">Согласие на обработку персональных данных</a></li>
          <li><a href="#" class="ui-link">Согласие на обработку персональных данных</a></li>
        </ul>
      </div>
    </div>
    <!-- Выбор языка -->
    <div class="footer__lang">
      <ul class="footer__lang-list">
        <li class="footer__lang-item">
          <a href="#" class="footer__lang-link footer__lang-link--current">РУ</a>
        </li>
        <li class="footer__lang-item">
          <a href="#" class="footer__lang-link">EN</a>
        </li>
      </ul>
    </div>
    <!-- Мессенджеры -->
    <div class="footer__messengers messengers">
      <a href="#" class="messengers__link" aria-label="Написать нам ВКонтакте">
        <svg>
          <use xlink:href="img/sprite.svg#icon-vk"></use>
        </svg>
      </a>
      <a href="#" class="messengers__link" aria-label="Написать нам Телеграм">
        <svg>
          <use xlink:href="img/sprite.svg#icon-tg"></use>
        </svg>
      </a>
    </div>
    <!-- Информация -->
    <div class="footer__legal">
      <p class="footer__copyright">
        © 2008–2026 ООО «Листон». Продажа лабораторного оборудования в России, Белоруссии,
        Казахстане и других странах СНГ Все права защищены. Вся информация на сайте не является
        публичной офертой.
      </p>
      <p class="footer__company-info">
        Общество с ограниченной ответственностью «Листон»<br>
        ИНН 4025421551, КПП 499701001, ОГРН 1094025001070
      </p>
      <p class="footer__company-address">
        Юридический адрес<br>
        249191, Калужская область, Жуковский район, город Жуков, ул. Сельхозтехника, д. 15
      </p>
    </div>
    <div class="footer__bottom">
      <span class="footer__made">Разработка сайта <a class="ui-link" href="#">КОСМО ДИЗАЙН</a></span>
      <a class="footer__map ui-link" href="#">Карта сайта</a>
      <div class="footer__badges">
        <img class="footer__img" src="img/yandex-rating.jpg" alt="Рейтинг в Яндексе" width="217" height="75">
        <img class="footer__img" src="img/footer-fund.jpg" alt="Фонд содействия инновациям" width="98" height="75">
      </div>
    </div>
  </div>
</footer>
