<header class="header">
  <div class="header__container container">
    <a href="/" class="header__logo logo">
      <img class="logo__img" src="img/logo.svg" alt="Logo Листон" width="126" height="38">
    </a>

    <!-- Меню -->
    <div class="header__nav">
      <nav class="nav" title="main navigation" data-menu>
        <ul>
          <li><a class="ui-link" aria-current="page" data-menu-item>Главная</a></li>
          <li data-dropdown>
            <a class="ui-link" href="#" data-menu-item>Каталог</a>
            <button data-dropdown-open aria-expanded="false" aria-label="Открыть подменю">
              <svg>
                <use xlink:href="img/sprite.svg#icon-caret-down">
                </use>
              </svg>
            </button>

            <ul class="sub-menu" data-dropdown-menu>
              <li>
                <a class="sub-menu__link" href="#" data-menu-item>Центрифуги</a>
                <ul>
                  <li><a href="#" class="ui-link" data-menu-item>Центрифуга лабораторная Liston C 2204 Classic</a>
                  </li>
                  <li><a href="#" class="ui-link" data-menu-item>Центрифуга лабораторная Liston C 2203</a></li>
                  <li><a href="#" class="ui-link" data-menu-item>Центрифуга лабораторная Liston C 2202</a></li>
                  <li><a href="#" class="ui-link" data-menu-item>Центрифуга лабораторная Liston C 2201</a></li>
                </ul>
              </li>
              <li>
                <a class="sub-menu__link" href="#" data-menu-item>Аквадистилляторы</a>
                <ul>
                  <li><a href="#" class="ui-link" data-menu-item>Аквадистиллятор электрический Liston A 1225</a>
                  </li>
                  <li><a href="#" class="ui-link" data-menu-item>Дистиллятор электрический Liston A 1210</a></li>
                  <li><a href="#" class="ui-link" data-menu-item>Дистиллятор электрический Liston A 1204</a></li>
                  <li><a href="#" class="ui-link" data-menu-item>Дистиллятор электрический со встроенным сборником
                      Liston A 1125</a></li>
                  <li><a href="#" class="ui-link" data-menu-item>Дистиллятор электрический со встроенным сборником
                      Liston A1110</a></li>
                  <li><a href="#" class="ui-link" data-menu-item>Дистиллятор электрический со встроенным сборником
                      Liston A 1104</a></li>
                </ul>
              </li>
              <li>
                <a class="sub-menu__link" href="#" data-menu-item>Бани водяные</a>
                <ul>
                  <li><a href="#" class="ui-link" data-menu-item>Водяная баня термостатирующая Liston В 1207</a></li>
                  <li><a href="#" class="ui-link" data-menu-item>Водяная баня термостатирующая Liston В 1107</a></li>
                  <li><a href="#" class="ui-link" data-menu-item>Деструктор игл электротермический Liston D 1101</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="sub-menu__link" href="#" data-menu-item>Оборудование для молочных лабораторий</a>
                <ul>
                  <li><a href="#" class="ui-link" data-menu-item>Центрифуга лабораторная молочная Liston C1201 Milk
                      Compact (с подогревом)</a></li>
                </ul>
              </li>
              <li>
                <a class="sub-menu__link" href="#" data-menu-item>Деструкторы</a>
                <ul>
                  <li><a href="#" class="ui-link" data-menu-item>Деструктор игл электротермический Liston D 1101</a></li>
                </ul>
              </li>
              <li><a class="sub-menu__link" href="#" data-menu-item>Комплектующие</a></li>
            </ul>
          </li>
          <li data-dropdown>
            <a class="ui-link" href="#" data-menu-item>О компании</a>
            <button data-dropdown-open aria-expanded="false" aria-label="Открыть подменю">
              <svg>
                <use xlink:href="img/sprite.svg#icon-caret-down"></use>
              </svg>
            </button>
            <ul class="sub-menu" data-dropdown-menu>
              <li><a class="ui-link" href="#" data-menu-item>Отзывы</a></li>
              <li><a class="ui-link" href="#" data-menu-item>Новости</a></li>
            </ul>
          </li>
          <li><a class="ui-link" href="#" data-menu-item>Поддержка</a></li>
          <li><a class="ui-link" href="#" data-menu-item>Контакты</a></li>
        </ul>
      </nav>
    </div>

    <div class="header__action">
      <!-- Поиск -->
      <div class="header__searchbar searchbar">
        <button class="searchbar__btn searchbar__btn--open btn-icon" type="button" aria-label="открыть форму поиска">
          <svg class="btn-icon__icon">
            <use xlink:href="img/sprite.svg#icon-search"></use>
          </svg>
        </button>
        <form action="#" class="searchbar__form search" aria-label="форма поиска по сайту">
          <button type="button" class="searchbar__btn searchbar__btn--close" aria-label="закрыть форму поиска">
            <svg class="searchbar__icon-close">
              <use xlink:href="img/sprite.svg#chevron-down"></use>
            </svg>
          </button>
          <svg class="search__icon">
            <use xlink:href="img/sprite.svg#icon-search"></use>
          </svg>
          <input type="search" class="search__input input-reset" placeholder="Поиск по сайту ..."
            aria-label="Введите поисковый запрос">
          <button type="reset" class="search__btn-clear btn-reset" aria-label="очистить строку поиска">
            <svg class="search__icon-clear">
              <use xlink:href="img/sprite.svg#icon-clear"></use>
            </svg>
          </button>
        </form>
      </div>

      <!-- Сравнение -->
      <a href="#" class="header__link ui-iconlink">
        <svg class="ui-iconlink__icon">
          <use xlink:href="img/sprite.svg#compare"></use>
        </svg>
        <span class="ui-iconlink__link-count">0</span>
        <span class="ui-iconlink__text">Сравнение</span>
      </a>

      <!-- Избранное -->
      <a href="#" class="header__link ui-iconlink">
        <svg class="ui-iconlink__icon">
          <use xlink:href="img/sprite.svg#wishlist"></use>
        </svg>
        <span class="ui-iconlink__link-count">0</span>
        <span class="ui-iconlink__text">Избранное</span>
      </a>

      <!-- Корзина -->
      <a href="#" class="header__link ui-iconlink">
        <svg class="ui-iconlink__icon">
          <use xlink:href="img/sprite.svg#cart"></use>
        </svg>
        <span class="ui-iconlink__link-count">0</span>
        <span class="ui-iconlink__text">Корзина</span>
      </a>

      <!-- Переключение языка -->
      <div class="header__lang lang">
        <button class="lang__current" type="button">
          <span class="lang__slug lang__slug--current">РУ</span>
          <svg>
            <use xlink:href="img/sprite.svg#icon-caret-down"></use>
          </svg>
        </button>
        <ul class="lang__list">
          <li class="lang__item">
            <a href="#" class="lang__link">РУ</a>
          </li>
          <li class="lang__item">
            <a href="#" class="lang__link">EN</a>
          </li>
        </ul>
      </div>

      <!-- Телефон -->
      <a href="tel:78003504041" class="header__phone" aria-label="Позвонить нам">
        <!-- <svg>
          <use xlink:href="img/sprite.svg#icon-phone"></use>
        </svg> -->
        <span>8(800)350-40-41</span>
      </a>

      <!-- Иконка бургер-меню -->
      <div class="header__burger">
        <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
          <span class="burger__line"></span>
        </button>
      </div>
    </div>
  </div>

  <!-- Нижний уровень меню (мобильная версия) -->
  <div class="header__bottom header-bottom fixed-block">
    <div class="header-bottom__container container">
      <a href="#" class="header-bottom__item">
        <svg class="header-bottom__icon">
          <use xlink:href="img/sprite.svg#search"></use>
        </svg>
        <span class="header-bottom__text">Поиск</span>
      </a>
      <a href="#" class="header-bottom__item">
        <svg class="header-bottom__icon">
          <use xlink:href="img/sprite.svg#compare"></use>
        </svg>
        <span class="header-bottom__link-count">0</span>
        <span class="header-bottom__text">Сравнение</span>
      </a>
      <a href="#" class="header-bottom__item">
        <svg class="header-bottom__icon">
          <use xlink:href="img/sprite.svg#wishlist"></use>
        </svg>
        <span class="header-bottom__link-count">0</span>
        <span class="header-bottom__text">Избранное</span>
      </a>
      <a href="#" class="header-bottom__item">
        <svg class="header-bottom__icon">
          <use xlink:href="img/sprite.svg#cart"></use>
        </svg>
        <span class="header-bottom__link-count">2</span>
        <span class="header-bottom__text">Корзина</span>
      </a>
    </div>
  </div>
</header>
