<!-- МОБИЛЬНАЯ ПАНЕЛЬ ТОВАРА (добавляется JS) -->
<div class="mobile-product-bar" id="mobileProductBar">
  <div class="mobile-product-bar__container">
    <div class="mobile-product-bar__prices">
      <span class="mobile-product-bar__current">51 000 ₽</span>
      <span class="mobile-product-bar__old">57 120 ₽</span>
    </div>
    <div class="mobile-product-bar__actions">
      <button
        class="mobile-product-bar__cart ui-btn ui-btn--accent"
        type="button"
      >
        <svg class="product-card__add-to-cart-icon" width="24" height="24">
          <use xlink:href="img/sprite.svg#cart"></use>
        </svg>
      </button>
      <button
        class="mobile-product-bar__oneclick ui-btn ui-btn--ghost-blue"
        type="button"
      >
        В 1 клик
      </button>
    </div>
  </div>
</div>
