<section class="news sec-offset">
  <div class="news__container container">
    <h2 class="news__title sec-title">Новости компании</h2>
    <ul class="news__list">
      <li class="news__item">
        <article class="article-card">
          <a class="article-card__link" href="news-page.html" aria-label="Перейти к новости"></a>
          <picture class="article-card__img">
            <!-- <source media="(max-width: 768px)" srcset="img/news/news-img-2-mobile.png" width="343"> -->
            <source srcset="img/news/news-img-2.webp 1x" type="image/webp">
            <img src="img/news/news-img-2.png" alt="Иллюстрация к новости" width="453" height="324" loading="lazy">
          </picture>
          <div class="article-card__info">
            <span class="article-card__date">1 сентября 2025</span>
            <h3 class="article-card__title is-clamp" style="--lines: 2;">
              Уже много лет метод Гербера является «золотым стандартом» в отрасли.
              Этот термин также применим к двум новым продуктам компании: центрифуге Liston C 1201 Milk
              Compact и водяной бане Liston B 1107.
            </h3>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="article-card" href="#">
          <a class="article-card__link" href="#" aria-label="Перейти к новости"></a>
          <picture class="article-card__img">
            <!-- <source media="(max-width: 768px)" srcset="img/news/news-img-1-mobile.png" width="343"> -->
            <source srcset="img/news/news-img-1.webp 1x" type="image/webp">
            <img src="img/news/news-img-1.png" alt="Иллюстрация к новости" width="453" height="324" loading="lazy">
          </picture>
          <div class="article-card__info">
            <span class="article-card__date">1 сентября 2025</span>
            <h3 class="article-card__title is-clamp" style="--lines: 2;">
              Компания "Листон" получила разрешительную документацию на свою продукцию в Республике Беларусь.
              Центрифуги линейки "Листон С" официально поставляются во все медицинские учреждения РБ.
            </h3>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="article-card">
          <a class="article-card__link" href="#" aria-label="Перейти к новости"></a>
          <picture class="article-card__img">
            <!-- <source media="(max-width: 768px)" srcset="img/news/news-img-2-mobile.png" width="343"> -->
            <source srcset="img/news/news-img-2.webp 1x" type="image/webp">
            <img src="img/news/news-img-2.png" alt="Иллюстрация к новости" width="453" height="324" loading="lazy">
          </picture>
          <div class="article-card__info">
            <span class="article-card__date">1 сентября 2025</span>
            <h3 class="article-card__title is-clamp" style="--lines: 2;">
              Уже много лет метод Гербера является «золотым стандартом» в отрасли.
              Этот термин также применим к двум новым продуктам компании: центрифуге Liston C 1201 Milk
              Compact и водяной бане Liston B 1107.
            </h3>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="article-card">
          <a class="article-card__link" href="#" aria-label="Перейти к новости"></a>
          <picture class="article-card__img">
            <!-- <source media="(max-width: 768px)" srcset="img/news/news-img-2-mobile.png" width="343"> -->
            <source srcset="img/news/news-img-3.webp 1x" type="image/webp">
            <img src="img/news/news-img-3.png" alt="Иллюстрация к новости" width="453" height="324" loading="lazy">
          </picture>
          <div class="article-card__info">
            <span class="article-card__date">2 июня 2026</span>
            <h3 class="article-card__title is-clamp" style="--lines: 2;">
              Лучшая продукция 2025 года по мнению Liston
            </h3>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="article-card" href="#">
          <a class="article-card__link" href="#" aria-label="Перейти к новости"></a>
          <picture class="article-card__img">
            <!-- <source media="(max-width: 768px)" srcset="img/news/news-img-1-mobile.png" width="343"> -->
            <source srcset="img/news/news-img-1.webp 1x" type="image/webp">
            <img src="img/news/news-img-1.png" alt="Иллюстрация к новости" width="453" height="324" loading="lazy">
          </picture>
          <div class="article-card__info">
            <span class="article-card__date">1 сентября 2025</span>
            <h3 class="article-card__title is-clamp" style="--lines: 2;">
              Компания "Листон" получила разрешительную документацию на свою продукцию в Республике Беларусь.
              Центрифуги линейки "Листон С" официально поставляются во все медицинские учреждения РБ.
            </h3>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="article-card">
          <a class="article-card__link" href="#" aria-label="Перейти к новости"></a>
          <picture class="article-card__img">
            <!-- <source media="(max-width: 768px)" srcset="img/news/news-img-2-mobile.png" width="343"> -->
            <source srcset="img/news/news-img-3.webp 1x" type="image/webp">
            <img src="img/news/news-img-3.png" alt="Иллюстрация к новости" width="453" height="324" loading="lazy">
          </picture>
          <div class="article-card__info">
            <span class="article-card__date">2 июня 2026</span>
            <h3 class="article-card__title is-clamp" style="--lines: 2;">
              Лучшая продукция 2025 года по мнению Liston
            </h3>
          </div>
        </article>
      </li>
    </ul>
    <button class="news__more-btn ui-btn">Загрузить еще</button>

    <!-- Пагинация -->
    <div class="news__pagination pagination" aria-label="Постраничная навигация">
      <a href="" class="pagination__link pagination__link--disabled prev">
        <svg class="pagination__icon">
          <use xlink:href="img/sprite.svg#chevrons-right"></use>
        </svg>
        <span>Предыдущая</span>
      </a>

      <a href="" class="pagination__link pagination__link--current">1</a>
      <a href="" class="pagination__link">2</a>
      <a href="" class="pagination__link">3</a>
      <span class="pagination__dots">…</span>
      <a href="" class="pagination__link">N</a>

      <a href="" class="pagination__link next">
        <span>Следующая</span>
        <svg class="pagination__icon">
          <use xlink:href="img/sprite.svg#chevrons-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>