<section class="news-page sec-offset">
  <div class="news-page__container container">
    <h2 class="news-page__title sec-title" data-aos="fade-up">
      Компания «Листон» зарегистрировала свою продукцию в Республике Беларусь
    </h2>

    <div class="news-page__wrap" data-aos="fade-up" data-aos-delay="200">
      <span class="news-page__wrap-date">20 марта 2026</span>
      <div class="news-page__wrap-view">
        <svg class="news-page__wrap-icon">
          <use xlink:href="img/sprite.svg#yey"></use>
        </svg>
        <span class="news-page__wrap-number">256</span>
      </div>
    </div>

    <div class="news-page__content" data-aos="fade-up" data-aos-delay="200">
      <div class="news-page__content-text">
        <p>
          Компания Листон получила регистрационное удостоверение
          № ИМ-7.118294 от 18.11.2025, подтверждающее, что Министерством
          здравоохранения Республики Беларусь зарегистрированы медицинские
          лабораторные центрифуги Liston C.В состав линейки зарегистрированных
          изделий были включены все выпускаемые центрифуги Листон, а именно
          модели С2201, С2202, С2202, С2204 в комплекте с роторами
          и принадлежностями.
        </p>
        <p>
          Также компанией Листон был заключён договор о сотрудничестве
          с компанией «ООО Медицинские технологии» г.. Минск, по которому
          компания взяла на себя обязанности по инсталляции, вводу
          в эксплуатацию, сервисному и техническому обслуживанию, а также
          гарантийному обслуживанию.
        </p>
        <p>
          Теперь вся линейка наших центрифуг может официально поставляться
          во все медицинские учреждения РБ.
        </p>
      </div>

      <picture class="news-page__content-img">
        <!-- <source media="(max-width: 768px)" srcset="img/news/news-img-1-mobile.png" width="343"> -->
        <source srcset="img/news/news-img-1.webp 1x" type="image/webp" />
        <img
          src="img/news/news-img-1.png"
          alt="Иллюстрация к новости"
          width="690"
          height="493"
          loading="lazy"
        />
      </picture>
    </div>

    <!-- Пагинация -->
    <div
      class="news-page__navigate pagination"
      aria-label="Постраничная навигация"
      data-aos="fade-up" data-aos-delay="300"
    >
      <a href="" class="pagination__link pagination__link--disabled prev">
        <svg class="pagination__icon">
          <use xlink:href="img/sprite.svg#chevrons-right"></use>
        </svg>
        <span>Предыдущая</span>
      </a>
      <a href="" class="pagination__link next">
        <span>Следующая</span>
        <svg class="pagination__icon">
          <use xlink:href="img/sprite.svg#chevrons-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
