<div class="single-services__info">
  <div class="product-card">
    <div class="product-card__wrap">
      <!-- Цены и скидка -->
      <div class="product-card__prices prices">
        <span class="prices__current">51 000 ₽</span>
        <span class="prices__old">57 120 ₽</span>
        <span class="product-card__label">-12%</span>
      </div>

      <!-- Кнопки действий -->
      <div class="product-card__action">
        <button class="product-card__add-to-cart ui-btn ui-btn--accent" type="button">
          <span class="product-card__add-to-cart-text">В корзину</span>
        </button>
        <button class="product-card__more-btn ui-btn ui-btn--ghost-blue" type="button">
          Купить в 1 клик
        </button>
      </div>

      <!-- Кнопки "Избранное" и "Сравнение" -->
      <div class="product-card__btns">
        <button class="product-card__like" aria-label="Добавить товар в избранное">
          <svg><use xlink:href="img/sprite.svg#wishlist"></use></svg>
        </button>
        <button class="product-card__compare" aria-label="Добавить товар в сравнение">
          <svg><use xlink:href="img/sprite.svg#compare"></use></svg>
        </button>
      </div>

      <!-- Преимущества -->
      <ul class="product-card__features">
        <li class="product-card__feature">
          <svg><use xlink:href="img/sprite.svg#marker-blue"></use></svg>
          <span>Устойчивая к вибрациям конструкция центрифуги</span>
        </li>
        <li class="product-card__feature">
          <svg><use xlink:href="img/sprite.svg#marker-blue"></use></svg>
          <span>Бесщеточный двигатель</span>
        </li>
        <li class="product-card__feature">
          <svg><use xlink:href="img/sprite.svg#marker-blue"></use></svg>
          <span>Плавный разгон и торможение</span>
        </li>
        <li class="product-card__feature">
          <svg><use xlink:href="img/sprite.svg#marker-blue"></use></svg>
          <span>Гарантия 2 года</span>
        </li>
      </ul>
    </div>
  </div>
</div>
