<div class="single-services__gallery">
  <!-- Иконка 3д (мобильная) -->
  <svg class="single-services__icon single-services__icon--mobile">
    <use xlink:href="img/sprite.svg#3d-icon"></use>
  </svg>

  <div class="product-gallery">
    <!-- МОБИЛЬНЫЕ ЭЛЕМЕНТЫ -->
    <span class="product-card__label product-card__label--mobile">-12%</span>

    <div class="product-card__btns product-card__btns--mobile">
      <button
        class="product-card__like"
        aria-label="Добавить товар в избранное"
      >
        <svg><use xlink:href="img/sprite.svg#wishlist"></use></svg>
      </button>
      <button
        class="product-card__compare"
        aria-label="Добавить товар в сравнение"
      >
        <svg><use xlink:href="img/sprite.svg#compare"></use></svg>
      </button>
    </div>

    <!-- ОСНОВНОЙ СЛАЙДЕР -->
    <div class="product-gallery__main swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture class="product-gallery__image">
            <img
              src="img/product-page/centrifuge2204.jpg"
              alt="Центрифуга 2204"
              width="927"
              height="720"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="product-gallery__image">
            <img
              src="img/product-page/slider-2.png"
              alt="Центрифуга 2204 вид 2"
              width="927"
              height="720"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="product-gallery__image">
            <img
              src="img/product-page/slider-3.png"
              alt="Центрифуга 2204 вид 3"
              width="927"
              height="720"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="product-gallery__image">
            <img
              src="img/product-page/slider-4.png"
              alt="Центрифуга 2204 вид 4"
              width="927"
              height="720"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="product-gallery__image">
            <img
              src="img/product-page/slider-5.png"
              alt="Центрифуга 2204 вид 5"
              width="927"
              height="720"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
    </div>

    <!-- БЛОК С МИНИАТЮРАМИ -->
    <div class="product-gallery__thumbs">
      <button
        class="product-gallery__thumb-prev slider-nav__btn"
        aria-label="Предыдущая миниатюра"
      >
        <svg class="slider-nav__icon">
          <use xlink:href="img/sprite.svg#chevron-left"></use>
        </svg>
      </button>

      <div class="swiper product-gallery__thumbs-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture class="product-gallery__thumb">
              <img
                src="img/product-page/thumb-1.png"
                width="108"
                height="108"
                alt="Миниатюра 1"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="product-gallery__thumb">
              <img
                src="img/product-page/thumb-2.jpg"
                width="108"
                height="108"
                alt="Миниатюра 2"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="product-gallery__thumb">
              <img
                src="img/product-page/thumb-3.jpg"
                width="108"
                height="108"
                alt="Миниатюра 3"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="product-gallery__thumb">
              <img
                src="img/product-page/thumb-4.jpg"
                width="108"
                height="108"
                alt="Миниатюра 4"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="product-gallery__thumb">
              <img
                src="img/product-page/thumb-5.jpg"
                width="108"
                height="108"
                alt="Миниатюра 5"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>

      <button
        class="product-gallery__thumb-next slider-nav__btn"
        aria-label="Следующая миниатюра"
      >
        <svg class="slider-nav__icon">
          <use xlink:href="img/sprite.svg#chevron-right"></use>
        </svg>
      </button>
    </div>
  </div>

  <!-- Иконка 3D (десктопная) -->
  <svg class="single-services__icon">
    <use xlink:href="img/sprite.svg#3d-icon"></use>
  </svg>
</div>
