<section class="promo sec-offset">
  <picture class="promo__bgimg">
    <source media="(max-width: 769px)" srcset="img/bg/bg-promo-mobile.webp" type="image/webp">
    <source media="(max-width: 769px)" srcset="img/bg/bg-promo-mobile.jpg" type="image/jpg">
    <source srcset="img/bg/bg-promo.webp" type="image/webp">
    <img src="img/bg/bg-promo.jpg" width="1920" height="855" alt="" aria-hidden="true" loading="eager" decoding="async"
      fetchpriority="high">
  </picture>
  <div class="slider-nav promo__slider-nav" data-aos="fade-up" data-aos-duration="700" data-aos-delay="400">
      <button class="promo__btn-prev slider-nav__btn">
        <svg class="slider-nav__icon">
          <use xlink:href="img/sprite.svg#chevron-left"></use>
        </svg>
      </button>
      <button class="promo__btn-next slider-nav__btn">
        <svg class="slider-nav__icon">
          <use xlink:href="img/sprite.svg#chevron-right"></use>
        </svg>
      </button>
    </div>
  <div class="promo__container container">

    <div class="swiper promo__slider slider" data-aos="fade-up" data-aos-delay="400">
      <div class="swiper-wrapper">
        <!-- Слайд 1 -->
        <div class="swiper-slide">
          <div class="promo__content">
            <h1 class="promo__title sec-title">Медицинское лабораторное
              оборудование
              «Листон»</h1>
            <picture class="promo__img promo__img--mobile">
              <source media="(max-width: 768px)" srcset="img/promo/slide1-mobile.png 1x, img/promo/slide1-mobile@2x.png 2x" width="311">
              <source srcset="img/promo/slide1.webp 1x, img/promo/slide1@2x.webp 2x" type="image/webp">
              <img src="img/promo/slide1.png" srcset="img/promo/slide1@2x.png 2x" alt="Фото товара"
                  width="665" height="592" loading="eager" decoding="async" fetchpriority="high">
            </picture>
            <div class="promo__descr promo__descr--list">
              <p>Производим центрифуги, дистилляторы и деструкторы игл с 2009 года.</p>
              <ul>
                <li>Полный цикл производства в Калужской области</li>
                <li>Сертификат ISO 13485:2016</li>
                <li>Гарантия 2 года + сервисное обслуживание</li>
              </ul>
            </div>
            <div class="promo__action">
              <a href="#" class="ui-btn ui-btn--white" target="_blank" rel="noopener noreferrer">Скачать прайс</a>
              <a href="#" class="ui-btn ui-btn--ghost-white">Подробнее</a>
            </div>
          </div>
          <picture class="promo__img">
            <source media="(max-width: 768px)" srcset="img/promo/slide1-mobile.png 1x, img/promo/slide1-mobile@2x.png 2x" width="311">
            <source srcset="img/promo/slide1.webp 1x, img/promo/slide1@2x.webp 2x" type="image/webp">
            <img src="img/promo/slide1.png" srcset="img/promo/slide1@2x.png 2x" alt="Фото товара"
                 width="665" height="592" loading="eager" decoding="async" fetchpriority="high">
          </picture>
        </div>
        <!-- Слайд 2 -->
        <div class="swiper-slide">
          <div class="promo__content">
            <span class="promo__subtitle sec-subtitle">
              <svg>
                <use xlink:href="img/sprite.svg#marker-blue"></use>
              </svg>
              <span>Центрифуги</span>
            </span>
            <h1 class="promo__title sec-title" data-aos="fade-up" data-aos-duration="800">Центрифуга лабораторная Liston C 2204 Classic</h1>
            <picture class="promo__img promo__img--mobile">
              <source media="(max-width: 768px)" srcset="img/promo/slide2-mobile.png 1x, img/promo/slide2-mobile@2x.png 2x" width="311">
              <source srcset="img/promo/slide2.webp 1x, img/promo/slide2@2x.webp 2x" type="image/webp">
              <img src="img/promo/slide2.png" srcset="img/promo/slide2@2x.png 2x" alt="Фото товара"
                  width="665" height="592" loading="eager" decoding="async" fetchpriority="high">
            </picture>
            <div class="promo__descr">
              <p>Бюджетная лабораторная центрифуга с 5 совместимыми роторами.</p>
            </div>
            <div class="promo__action">
              <a href="#" class="ui-btn ui-btn--white" target="_blank" rel="noopener noreferrer">Купить</a>
              <a href="#" class="ui-btn ui-btn--ghost-white">Подробнее</a>
            </div>
          </div>
          <picture class="promo__img">
            <source media="(max-width: 768px)" srcset="img/promo/slide2-mobile.png 1x, img/promo/slide2-mobile@2x.png 2x" width="311">
            <source srcset="img/promo/slide2.webp 1x, img/promo/slide2@2x.webp 2x" type="image/webp">
            <img src="img/promo/slide2.png" srcset="img/promo/slide2@2x.png 2x" alt="Фото товара"
                 width="665" height="592" loading="eager" decoding="async" fetchpriority="high">
          </picture>
        </div>
        <!-- Слайд 3 -->
        <div class="swiper-slide">
          <div class="promo__content">
            <span class="promo__subtitle sec-subtitle">
              <svg>
                <use xlink:href="img/sprite.svg#marker-blue"></use>
              </svg>
              <span>Дистилляторы</span>
            </span>
            <h1 class="promo__title sec-title" data-aos="fade-up" data-aos-duration="800">Дистиллятор электрический со встроенным сборником Liston A 1104</h1>
            <picture class="promo__img promo__img--mobile">
              <source media="(max-width: 768px)" srcset="img/promo/slide3-mobile.png 1x, img/promo/slide3-mobile@2x.png 2x" width="311">
              <source srcset="img/promo/slide3.webp 1x, img/promo/slide3@2x.webp 2x" type="image/webp">
              <img src="img/promo/slide3.png" srcset="img/promo/slide3@2x.png 2x" alt="Фото товара"
                  width="665" height="592" loading="eager" decoding="async" fetchpriority="high">
            </picture>
            <div class="promo__descr">
              <p>Современный профессиональный дистиллятор воды из нержавеющей стали со встроенным в корпус сборником и автоматической системой контроля.</p>
            </div>
            <div class="promo__action">
              <a href="#" class="ui-btn ui-btn--white" target="_blank" rel="noopener noreferrer">Купить</a>
              <a href="#" class="ui-btn ui-btn--ghost-white">Подробнее</a>
            </div>
          </div>
          <picture class="promo__img">
            <source media="(max-width: 768px)" srcset="img/promo/slide3-mobile.png 1x, img/promo/slide3-mobile@2x.png 2x" width="311">
            <source srcset="img/promo/slide3.webp 1x, img/promo/slide3@2x.webp 2x" type="image/webp">
            <img src="img/promo/slide3.png" srcset="img/promo/slide3@2x.png 2x" alt="Фото товара"
                 width="665" height="592" loading="eager" decoding="async" fetchpriority="high">
          </picture>
        </div>
        <!-- Слайд 4 -->
        <div class="swiper-slide">
          <div class="promo__content">
            <span class="promo__subtitle sec-subtitle">
              <svg>
                <use xlink:href="img/sprite.svg#marker-blue"></use>
              </svg>
              <span>Бани водяные</span>
            </span>
            <h1 class="promo__title sec-title" data-aos="fade-up" data-aos-duration="800">Водяная баня термостатирующая Liston В 1107</h1>
            <picture class="promo__img promo__img--mobile">
              <source media="(max-width: 768px)" srcset="img/promo/slide4-mobile.png 1x, img/promo/slide4-mobile@2x.png 2x" width="311">
              <source srcset="img/promo/slide4.webp 1x, img/promo/slide4@2x.webp 2x" type="image/webp">
              <img src="img/promo/slide4.png" srcset="img/promo/slide4@2x.png 2x" alt="Фото товара"
                  width="665" height="592" loading="eager" decoding="async" fetchpriority="high">
            </picture>
            <div class="promo__descr">
              <p>Баня водяная лабораторная (термостат) для подогрева бутирометров (жиромеров) </p>
            </div>
            <div class="promo__action">
              <a href="#" class="ui-btn ui-btn--white" target="_blank" rel="noopener noreferrer">Купить</a>
              <a href="#" class="ui-btn ui-btn--ghost-white">Подробнее</a>
            </div>
          </div>
          <picture class="promo__img">
            <source media="(max-width: 768px)" srcset="img/promo/slide4-mobile.png 1x, img/promo/slide4-mobile@2x.png 2x" width="311">
            <source srcset="img/promo/slide4.webp 1x, img/promo/slide4@2x.webp 2x" type="image/webp">
            <img src="img/promo/slide4.png" srcset="img/promo/slide4@2x.png 2x" alt="Фото товара"
                 width="665" height="592" loading="eager" decoding="async" fetchpriority="high">
          </picture>
        </div>
        <!-- Слайд 5 -->
        <div class="swiper-slide">
          <div class="promo__content">
            <span class="promo__subtitle sec-subtitle">
              <svg>
                <use xlink:href="img/sprite.svg#marker-blue"></use>
              </svg>
              <span>Центрифуги</span>
            </span>
            <h1 class="promo__title sec-title" data-aos="fade-up" data-aos-duration="800">Центрифуга лабораторная молочная Liston C1201 Milk Compact (с подогревом)</h1>
            <picture class="promo__img promo__img--mobile">
              <source media="(max-width: 768px)" srcset="img/promo/slide5-mobile.png 1x, img/promo/slide5-mobile@2x.png 2x" width="311">
              <source srcset="img/promo/slide5.webp 1x, img/promo/slide5@2x.webp 2x" type="image/webp">
              <img src="img/promo/slide5.png" srcset="img/promo/slide5@2x.png 2x" alt="Фото товара"
                  width="665" height="592" loading="eager" decoding="async" fetchpriority="high">
            </picture>
            <div class="promo__descr">
              <p>Лабораторная молочная центрифуга Liston C 1201 Milk Compact предназначена для определения по методу Гербера массовой доли жира в молоке и продуктах переработки молока</p>
            </div>
            <div class="promo__action">
              <a href="#" class="ui-btn ui-btn--white" target="_blank" rel="noopener noreferrer">Купить</a>
              <a href="#" class="ui-btn ui-btn--ghost-white">Подробнее</a>
            </div>
          </div>
          <picture class="promo__img">
            <source media="(max-width: 768px)" srcset="img/promo/slide5-mobile.png 1x, img/promo/slide5-mobile@2x.png 2x" width="311">
            <source srcset="img/promo/slide5.webp 1x, img/promo/slide5@2x.webp 2x" type="image/webp">
            <img src="img/promo/slide5.png" srcset="img/promo/slide5@2x.png 2x" alt="Фото товара"
                 width="665" height="592" loading="eager" decoding="async" fetchpriority="high">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
