<section class="promo">
  <picture class="promo__bgimg">
    <source media="(max-width: 769px)" srcset="img/bg/bg-promo-mobile.webp" type="image/webp">
    <source media="(max-width: 769px)" srcset="img/bg/bg-promo-mobile.jpg" type="image/jpg">
    <source srcset="img/bg/bg-promo.webp" type="image/webp">
    <img src="img/bg/bg-promo.jpg" width="1920" height="855" alt="" aria-hidden="true" loading="eager" decoding="async"
      fetchpriority="high">
  </picture>
  <div class="promo__container container">
    <div class="swiper ">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <h1 class="promo__title sec-title" data-aos="fade-up" data-aos-duration="800">Медицинское лабораторное
            оборудование
            «Листон»</h1>
          <div class="promo__descr">
            <p>Производим центрифуги, дистилляторы и деструкторы игл с 2009 года.</p>
            <ul>
              <li>Полный цикл производства в Калужской области</li>
              <li>Сертификат ISO 13485:2016</li>
              <li>Гарантия 2 года + сервисное обслуживание</li>
            </ul>
          </div>
          <div class="promo__action">
            <a href="#" class="ui-btn" target="_blank" rel="noopener noreferrer">Скачать прайс</a>
            <a href="#" class="" >Подробнее</a>
          </div>
        </div>
        <div class="swiper-slide">
        </div>
      </div>
    </div>

    <div class="promo__content" id="promo-content" data-line-animation>
      <div class="promo__inner">
        <h1 class="promo__title" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">Российское
          IT–оборудование и  собственная производственная площадка  </h1>
        <div class="promo__info" data-aos="fade-up" data-aos-duration="700" data-aos-delay="600" data-line-trigger>
          <p class="promo__description">
            IMPAKT — российский разработчик и производитель телекоммуникационного и IT-оборудования. Мы создаем
            инновационные решения, адаптированные под потребности наших клиентов, сочетая современные технологии с
            глубоким знанием рынка.
          </p>
          <div class="promo__actions">
            <button type="button" class="promo__btn btn btn--primary" data-graph-path="modal-leadform">
              <span class="btn__text">Связаться с нами</span>
              <svg class="btn__icon" aria-hidden>
                <use xlink:href="img/sprite.svg#arrow-top-right"></use>
              </svg>
            </button>
            <a href="/catalog.html" class="promo__btn btn btn--header">
              Каталог
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
