<section class="reviews-main sec-offset">
  <div class="reviews-main__container container">
    <h2 class="reviews-main__title sec-title">Отзывы наших клиентов</h2>
      <div class="reviews-main__content reviews">
        <div class="reviews__heading">
          <div class="reviews__source">
            <span class="reviews__source-name">Листон в <span class="red">Я</span>ндекс</span>
            <div class="reviews__rating">
              <div class="rating">
                <span class="rating__star is-active">
                  <svg class="rating__icon">
                    <use xlink:href="img/sprite.svg#icon-star"></use>
                  </svg>
                </span>
                <span class="rating__star is-active">
                  <svg class="rating__icon">
                    <use xlink:href="img/sprite.svg#icon-star"></use>
                  </svg>
                </span>
                <span class="rating__star is-active">
                  <svg class="rating__icon">
                    <use xlink:href="img/sprite.svg#icon-star"></use>
                  </svg>
                </span>
                <span class="rating__star is-active">
                  <svg class="rating__icon">
                    <use xlink:href="img/sprite.svg#icon-star"></use>
                  </svg>
                </span>
                <span class="rating__star is-active">
                  <svg class="rating__icon">
                    <use xlink:href="img/sprite.svg#icon-star"></use>
                  </svg>
                </span>
              </div>
              <span class="reviews__rating-value"><b>4.7 / 5</b> (51 отзыв)</span>
            </div>
          </div>
          <button class="reviews__btn ui-btn ui-btn--ghost-blue" type="button">Оставить отзыв</button>
        </div>
        <ul class="reviews__list">
          <li class="reviews__item">
            <div class="card-reviews">
              <div class="card-reviews__top">
                <span class="card-reviews__name">Светлана Бондарь</span>
                <div class="card-reviews__rating rating">
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                </div>
              </div>
              <p class="card-reviews__text is-clamp" style="--lines: 6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
          <li class="reviews__item">
            <div class="card-reviews">
              <div class="card-reviews__top">
                <span class="card-reviews__name">Александр Добронравов</span>
                <div class="card-reviews__rating rating">
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                </div>
              </div>
              <p class="card-reviews__text is-clamp" style="--lines: 6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
          <li class="reviews__item">
            <div class="card-reviews">
              <div class="card-reviews__top">
                <span class="card-reviews__name">Светлана Бондарь</span>
                <div class="card-reviews__rating rating">
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                </div>
              </div>
              <p class="card-reviews__text is-clamp" style="--lines: 6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
          <li class="reviews__item">
            <div class="card-reviews">
              <div class="card-reviews__top">
                <span class="card-reviews__name">Светлана Бондарь</span>
                <div class="card-reviews__rating rating">
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                </div>
              </div>
              <p class="card-reviews__text is-clamp" style="--lines: 6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
          <li class="reviews__item">
            <div class="card-reviews">
              <div class="card-reviews__top">
                <span class="card-reviews__name">Светлана Бондарь</span>
                <div class="card-reviews__rating rating">
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                </div>
              </div>
              <p class="card-reviews__text is-clamp" style="--lines: 6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
          <li class="reviews__item">
            <div class="card-reviews">
              <div class="card-reviews__top">
                <span class="card-reviews__name">Владимир Ксенофонтов</span>
                <div class="card-reviews__rating rating">
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                </div>
              </div>
              <p class="card-reviews__text is-clamp" style="--lines: 6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
          <li class="reviews__item">
            <div class="card-reviews">
              <div class="card-reviews__top">
                <span class="card-reviews__name">Светлана Бондарь</span>
                <div class="card-reviews__rating rating">
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                </div>
              </div>
              <p class="card-reviews__text is-clamp" style="--lines: 6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
          <li class="reviews__item">
            <div class="card-reviews">
              <div class="card-reviews__top">
                <span class="card-reviews__name">Светлана Бондарь</span>
                <div class="card-reviews__rating rating">
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                </div>
              </div>
              <p class="card-reviews__text is-clamp" style="--lines: 6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
          <li class="reviews__item">
            <div class="card-reviews">
              <div class="card-reviews__top">
                <span class="card-reviews__name">Светлана Бондарь</span>
                <div class="card-reviews__rating rating">
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                </div>
              </div>
              <p class="card-reviews__text is-clamp" style="--lines: 6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
          <li class="reviews__item">
            <div class="card-reviews">
              <div class="card-reviews__top">
                <span class="card-reviews__name">Светлана Бондарь</span>
                <div class="card-reviews__rating rating">
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                </div>
              </div>
              <p class="card-reviews__text is-clamp" style="--lines: 6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
          <li class="reviews__item">
            <div class="card-reviews">
              <div class="card-reviews__top">
                <span class="card-reviews__name">Светлана Бондарь</span>
                <div class="card-reviews__rating rating">
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                </div>
              </div>
              <p class="card-reviews__text is-clamp" style="--lines: 6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
          <li class="reviews__item">
            <div class="card-reviews">
              <div class="card-reviews__top">
                <span class="card-reviews__name">Константин Аникин</span>
                <div class="card-reviews__rating rating">
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                </div>
              </div>
              <p class="card-reviews__text is-clamp" style="--lines: 6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
          <li class="reviews__item">
            <div class="card-reviews">
              <div class="card-reviews__top">
                <span class="card-reviews__name">Светлана Бондарь</span>
                <div class="card-reviews__rating rating">
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                </div>
              </div>
              <p class="card-reviews__text is-clamp" style="--lines: 6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
          <li class="reviews__item">
            <div class="card-reviews">
              <div class="card-reviews__top">
                <span class="card-reviews__name">Светлана Бондарь</span>
                <div class="card-reviews__rating rating">
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                </div>
              </div>
              <p class="card-reviews__text is-clamp" style="--lines: 6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
          <li class="reviews__item">
            <div class="card-reviews">
              <div class="card-reviews__top">
                <span class="card-reviews__name">Светлана Бондарь</span>
                <div class="card-reviews__rating rating">
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                </div>
              </div>
              <p class="card-reviews__text is-clamp" style="--lines: 6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
          <li class="reviews__item">
            <div class="card-reviews">
              <div class="card-reviews__top">
                <span class="card-reviews__name">Светлана Бондарь</span>
                <div class="card-reviews__rating rating">
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                  <span class="rating__star is-active">
                    <svg class="rating__icon">
                      <use xlink:href="img/sprite.svg#icon-star"></use>
                    </svg>
                  </span>
                </div>
              </div>
              <p class="card-reviews__text is-clamp" style="--lines: 6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
        </ul>
        <button class="reviews-main__more-btn ui-btn">Загрузить еще</button>
      </div>

  </div>
</section>
