<section class="sec-video">
  <!-- <video
    class="sec-video__media"
    src="" autoplay muted
    playsinline preload="auto"
    poster="img/video-preview.jpg">
  </video> -->
  <div class="sec-video__media">
    <img src="img/video-preview.jpg" alt="">
  </div>

  <div class="container">
  <ul class="breadcrumbs breadcrumbs--light">
    <li class="breadcrumbs__item">
      <a href="index.html" class="breadcrumbs__link">Главная</a>
    </li>
    <li class=" breadcrumbs__item breadcrumbs__item--current">
      <span>О компании</span>
    </li>
  </ul>
</div>
</section>
