<section class="sec-compare">
  <div class="sec-compare__container container">
    <h2 class="sec-compare__title sec-title">Сравнение товаров</h2>
    <div class="sec-compare__content tabs" data-tabs="comparison-tabs">
      <ul class="sec-compare__nav tabs__nav">
        <li class="tabs__nav-item">
          <div class="sec-compare__nav-item active tabs__nav-wrap">
            <button class="sec-compare__nav-btn tabs__nav-btn" type="button">
              <span>Дистилляторы 2</span>
            </button>
            <button class="sec-compare__delete-btn">
              <svg>
                <use xlink:href="img/sprite.svg#close"></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="tabs__nav-item">
          <div class="sec-compare__nav-item tabs__nav-wrap">
            <button class="sec-compare__nav-btn tabs__nav-btn" type="button">
              <span>Центрифуги 3</span>
            </button>
            <button class="sec-compare__delete-btn">
              <svg>
                <use xlink:href="img/sprite.svg#close"></use>
              </svg>
            </button>
          </div>
        </li>
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel tabs__panel--active">
          <div class="sec-compare__body compare">

            <!-- Верхний блок sticky -->
            <!-- <div class="compare__heading"> -->

              <!-- Показать только различия -->
              <!-- <div class="compare__toggle compare-toggle">
                <label for="different" class="compare-toggle__label">
                  <input class="compare-toggle__input visually-hidden" type="checkbox" id="different" data-filter="different">
                  <span class="compare-toggle__slider"></span>
                  <span class="compare-toggle__label-text">Показать только различия</span>
                </label>
              </div> -->

            <!-- Таблица характеристик -->
            <div class="compare__table-wrapper">
              <table class="compare__table">
                <tbody>
                  <!-- Первая строка таблицы с товарами -->
                  <tr class="first-row">
                    <th>
                      <div class="compare__toggle compare-toggle">
                        <label for="different" class="compare-toggle__label">
                          <input class="compare-toggle__input visually-hidden" type="checkbox" id="different" data-filter="different">
                          <span class="compare-toggle__slider"></span>
                          <span class="compare-toggle__label-text">Показать только различия</span>
                        </label>
                      </div>
                    </th>
                    <td>
                      <div class="product-card product-card--compare">
                        <a href="product-card.html" class="product-card__link"></a>
                        <picture class="product-card__img">
                          <source media="(max-width: 768px)" srcset="img/catalog/product-img-mobile.png" width="343">
                          <source srcset="img/catalog/product-img.webp 1x" type="image/webp">
                          <img src="img/catalog/product-img.png" alt="Фото товара" width="334" height="331" loading="lazy">
                        </picture>
                        <div class="product-card__wrap">
                          <span class="product-card__category">Дистиллятор</span>
                          <h3 class="product-card__title">Дистиллятор электрический со встроенным сборником Liston A 1104</h3>
                          <div class="product-card__prices prices">
                            <span class="prices__current">75 000 ₽</span>
                            <span class="prices__old">100000 ₽</span>
                          </div>
                          <div class="product-card__action">
                            <button class="product-card__add-to-cart ui-btn ui-btn--accent" type="button">В корзину</button>
                            <a class="product-card__more-btn ui-btn ui-btn--ghost-blue" href="product-card.html">Подробнее</a>
                            <button class="product-card__remove-compare" type="button">Удалить из сравнения</button>
                          </div>
                        </div>
                        <!-- Кнопки Избранное и Сравнение -->
                        <div class="product-card__btns">
                          <button class="product-card__like" aria-label="Добавить товар в избранное">
                            <svg>
                              <use xlink:href="img/sprite.svg#wishlist"></use>
                            </svg>
                          </button>
                          <button class="product-card__compare" aria-label="Добавить товар в сравнение">
                            <svg>
                              <use xlink:href="img/sprite.svg#compare"></use>
                            </svg>
                          </button>
                        </div>
                        <!-- Лейбл -->
                        <span class="product-card__label">-12%</span>
                      </div>
                    </td>
                    <td>
                      <div class="product-card product-card--compare">
                        <a href="product-card.html" class="product-card__link"></a>
                        <picture class="product-card__img">
                          <source media="(max-width: 768px)" srcset="img/catalog/product-img-mobile.png" width="343">
                          <source srcset="img/catalog/product-img.webp 1x" type="image/webp">
                          <img src="img/catalog/product-img.png" alt="Фото товара" width="334" height="331" loading="lazy">
                        </picture>
                        <div class="product-card__wrap">
                          <span class="product-card__category">Дистиллятор</span>
                          <h3 class="product-card__title">Дистиллятор электрический со встроенным сборником Liston A 1104</h3>
                          <div class="product-card__prices prices">
                            <span class="prices__current">75 000 ₽</span>
                            <span class="prices__old">100000 ₽</span>
                          </div>
                          <div class="product-card__action">
                            <button class="product-card__add-to-cart ui-btn ui-btn--accent" type="button">В корзину</button>
                            <a class="product-card__more-btn ui-btn ui-btn--ghost-blue" href="product-card.html">Подробнее</a>
                            <button class="product-card__remove-compare" type="button">Удалить из сравнения</button>
                          </div>
                        </div>
                        <!-- Кнопки Избранное и Сравнение -->
                        <div class="product-card__btns">
                          <button class="product-card__like" aria-label="Добавить товар в избранное">
                            <svg>
                              <use xlink:href="img/sprite.svg#wishlist"></use>
                            </svg>
                          </button>
                          <button class="product-card__compare" aria-label="Добавить товар в сравнение">
                            <svg>
                              <use xlink:href="img/sprite.svg#compare"></use>
                            </svg>
                          </button>
                        </div>
                        <!-- Лейбл -->
                        <span class="product-card__label">-12%</span>
                      </div>
                    </td>
                    <td>
                      <div class="product-card product-card--compare">
                        <a href="product-card.html" class="product-card__link"></a>
                        <picture class="product-card__img">
                          <source media="(max-width: 768px)" srcset="img/catalog/product-img-mobile.png" width="343">
                          <source srcset="img/catalog/product-img.webp 1x" type="image/webp">
                          <img src="img/catalog/product-img.png" alt="Фото товара" width="334" height="331" loading="lazy">
                        </picture>
                        <div class="product-card__wrap">
                          <span class="product-card__category">Дистиллятор</span>
                          <h3 class="product-card__title">Дистиллятор электрический со встроенным сборником Liston A 1104</h3>
                          <div class="product-card__prices prices">
                            <span class="prices__current">75 000 ₽</span>
                            <span class="prices__old">100000 ₽</span>
                          </div>
                          <div class="product-card__action">
                            <button class="product-card__add-to-cart ui-btn ui-btn--accent" type="button">В корзину</button>
                            <a class="product-card__more-btn ui-btn ui-btn--ghost-blue" href="product-card.html">Подробнее</a>
                            <button class="product-card__remove-compare" type="button">Удалить из сравнения</button>
                          </div>
                        </div>
                        <!-- Кнопки Избранное и Сравнение -->
                        <div class="product-card__btns">
                          <button class="product-card__like" aria-label="Добавить товар в избранное">
                            <svg>
                              <use xlink:href="img/sprite.svg#wishlist"></use>
                            </svg>
                          </button>
                          <button class="product-card__compare" aria-label="Добавить товар в сравнение">
                            <svg>
                              <use xlink:href="img/sprite.svg#compare"></use>
                            </svg>
                          </button>
                        </div>
                        <!-- Лейбл -->
                        <span class="product-card__label">-12%</span>
                      </div>
                    </td>
                    <td>
                      <div class="product-card product-card--compare">
                        <a href="product-card.html" class="product-card__link"></a>
                        <picture class="product-card__img">
                          <source media="(max-width: 768px)" srcset="img/catalog/product-img-mobile.png" width="343">
                          <source srcset="img/catalog/product-img.webp 1x" type="image/webp">
                          <img src="img/catalog/product-img.png" alt="Фото товара" width="334" height="331" loading="lazy">
                        </picture>
                        <div class="product-card__wrap">
                          <span class="product-card__category">Дистиллятор</span>
                          <h3 class="product-card__title">Дистиллятор электрический со встроенным сборником Liston A 1104</h3>
                          <div class="product-card__prices prices">
                            <span class="prices__current">75 000 ₽</span>
                            <span class="prices__old">100000 ₽</span>
                          </div>
                          <div class="product-card__action">
                            <button class="product-card__add-to-cart ui-btn ui-btn--accent" type="button">В корзину</button>
                            <a class="product-card__more-btn ui-btn ui-btn--ghost-blue" href="product-card.html">Подробнее</a>
                            <button class="product-card__remove-compare" type="button">Удалить из сравнения</button>
                          </div>
                        </div>
                        <!-- Кнопки Избранное и Сравнение -->
                        <div class="product-card__btns">
                          <button class="product-card__like" aria-label="Добавить товар в избранное">
                            <svg>
                              <use xlink:href="img/sprite.svg#wishlist"></use>
                            </svg>
                          </button>
                          <button class="product-card__compare" aria-label="Добавить товар в сравнение">
                            <svg>
                              <use xlink:href="img/sprite.svg#compare"></use>
                            </svg>
                          </button>
                        </div>
                        <!-- Лейбл -->
                        <span class="product-card__label">-12%</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>Производительность</th>
                    <td>4 л/ч</td>
                    <td>10 л/ч</td>
                    <td>10 л/ч</td>
                    <td>15 л/ч</td>
                  </tr>
                  <tr>
                    <th>Вместимость встроенного бака-накопителя</th>
                    <td>на 8 л</td>
                    <td>на 20 л</td>
                    <td>на 20 л</td>
                    <td>на 10 л</td>
                  </tr>
                  <tr>
                    <th>Удельный расход воды</th>
                    <td>не более 60 л/ч (15 л / л дистиллята)</td>
                    <td>не более 150 л/ч (15 л / л дистиллята)</td>
                    <td>не более 150 л/ч (15 л / л дистиллята)</td>
                    <td>не более 100 л/ч (15 л / л дистиллята)</td>
                  </tr>
                  <tr>
                    <th>Потребляемая мощность</th>
                    <td>3 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>5 кВт/ч (0,75 кВт/л дистиллята)</td>
                  </tr>
                  <tr>
                    <th>Потребляемая мощность</th>
                    <td>3 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>5 кВт/ч (0,75 кВт/л дистиллята)</td>
                  </tr>
                  <tr>
                    <th>Потребляемая мощность</th>
                    <td>3 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>5 кВт/ч (0,75 кВт/л дистиллята)</td>
                  </tr>
                  <tr>
                    <th>Потребляемая мощность</th>
                    <td>3 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>5 кВт/ч (0,75 кВт/л дистиллята)</td>
                  </tr>
                  <tr>
                    <th>Потребляемая мощность</th>
                    <td>3 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>5 кВт/ч (0,75 кВт/л дистиллята)</td>
                  </tr>
                  <tr>
                    <th>Потребляемая мощность</th>
                    <td>3 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>5 кВт/ч (0,75 кВт/л дистиллята)</td>
                  </tr>
                  <tr>
                    <th>Потребляемая мощность</th>
                    <td>3 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>5 кВт/ч (0,75 кВт/л дистиллята)</td>
                  </tr>
                  <tr>
                    <th>Потребляемая мощность</th>
                    <td>3 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>5 кВт/ч (0,75 кВт/л дистиллята)</td>
                  </tr>
                  <tr>
                    <th>Потребляемая мощность</th>
                    <td>3 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>5 кВт/ч (0,75 кВт/л дистиллята)</td>
                  </tr>
                  <tr>
                    <th>Потребляемая мощность</th>
                    <td>3 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>5 кВт/ч (0,75 кВт/л дистиллята)</td>
                  </tr>
                  <tr>
                    <th>Потребляемая мощность</th>
                    <td>3 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
                    <td>5 кВт/ч (0,75 кВт/л дистиллята)</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="tabs__panel">

        </div>
      </div>
    </div>
  </div>
</section>
