<section class="sec-certificates sec-offset">
  <div class="sec-certificates__container container">
    <span class="sec-popular__subtitle sec-subtitle" data-aos="fade-up">
      <svg>
        <use xlink:href="img/sprite.svg#marker-blue"></use>
      </svg>
      <span>Сертификаты и лицензии</span>
    </span>
    <h2 class="sec-certificates__title sec-title" data-aos="fade-up" data-aos-delay="200">Сертификаты и разрешительная документация</h2>
    <div class="sec-certificates__content">
      <ul class="sec-certificates__list">
        <li class="sec-certificates__item" data-aos="fade-up" data-aos-delay="450">
          <div class="certificates">
            <span class="certificates__name">ISO 13485:2016</span>
            <div class="certificates__gallery">
              <div class="slider-nav certificates__slider-nav" data-aos="fade-up" data-aos-duration="700" data-aos-delay="400">
                <button class="certificates__btn-prev slider-nav__btn">
                  <svg class="slider-nav__icon">
                    <use xlink:href="img/sprite.svg#chevron-left"></use>
                  </svg>
                </button>
                <button class="certificates__btn-next slider-nav__btn">
                  <svg class="slider-nav__icon">
                    <use xlink:href="img/sprite.svg#chevron-right"></use>
                  </svg>
                </button>
              </div>
              <div class="certificates__viewport">
                <div class="slider certificates__slider swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a class="certificates__link" data-fslightbox="iso" href="img/certificates/certificate-2.png">
                        <picture class="certificates__img">
                          <source srcset="img/certificates/certificate-2.webp" type="image/webp">
                          <img src="img/certificates/certificate-2.png" alt="Сертификат" width="217">
                        </picture>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="sec-certificates__item" data-aos="fade-up" data-aos-delay="500">
          <div class="certificates">
            <span class="certificates__name">Регистрационные удостоверения Минздрава</span>
            <div class="certificates__gallery">
              <div class="slider-nav certificates__slider-nav" data-aos="fade-up" data-aos-duration="700" data-aos-delay="400">
                <button class="certificates__btn-prev slider-nav__btn">
                  <svg class="slider-nav__icon">
                    <use xlink:href="img/sprite.svg#chevron-left"></use>
                  </svg>
                </button>
                <button class="certificates__btn-next slider-nav__btn">
                  <svg class="slider-nav__icon">
                    <use xlink:href="img/sprite.svg#chevron-right"></use>
                  </svg>
                </button>
              </div>
              <div class="certificates__viewport">
                <div class="slider certificates__slider swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a class="certificates__link" data-fslightbox="minzdrav" href="img/certificates/certificate-3.png">
                        <picture class="certificates__img">
                          <source srcset="img/certificates/certificate-3.webp" type="image/webp">
                          <img src="img/certificates/certificate-3.png" alt="Сертификат" width="217">
                        </picture>
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a class="certificates__link" data-fslightbox="minzdrav" href="img/certificates/certificate-3.png">
                        <picture class="certificates__img">
                          <source srcset="img/certificates/certificate-3.webp" type="image/webp">
                          <img src="img/certificates/certificate-3.png" alt="Сертификат" width="217">
                        </picture>
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a class="certificates__link" data-fslightbox="minzdrav" href="img/certificates/certificate-3.png">
                        <picture class="certificates__img">
                          <source srcset="img/certificates/certificate-3.webp" type="image/webp">
                          <img src="img/certificates/certificate-3.png" alt="Сертификат" width="217">
                        </picture>
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a class="certificates__link" data-fslightbox="minzdrav" href="img/certificates/certificate-3.png">
                        <picture class="certificates__img">
                          <source srcset="img/certificates/certificate-3.webp" type="image/webp">
                          <img src="img/certificates/certificate-3.png" alt="Сертификат" width="217">
                        </picture>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="sec-certificates__item" data-aos="fade-up" data-aos-delay="550">
          <div class="certificates">
            <span class="certificates__name">Сертификат соответствия ТР ТС</span>
            <div class="certificates__gallery">
              <div class="slider-nav certificates__slider-nav" data-aos="fade-up" data-aos-duration="700" data-aos-delay="400">
                <button class="certificates__btn-prev slider-nav__btn">
                  <svg class="slider-nav__icon">
                    <use xlink:href="img/sprite.svg#chevron-left"></use>
                  </svg>
                </button>
                <button class="certificates__btn-next slider-nav__btn">
                  <svg class="slider-nav__icon">
                    <use xlink:href="img/sprite.svg#chevron-right"></use>
                  </svg>
                </button>
              </div>
              <div class="certificates__viewport">
                <div class="slider certificates__slider swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a class="certificates__link" data-fslightbox="licenses" href="img/certificates/certificate-1.png">
                        <picture class="certificates__img">
                          <source srcset="img/certificates/certificate-1.webp" type="image/webp">
                          <img src="img/certificates/certificate-1.png" alt="Сертификат" width="217">
                        </picture>
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a class="certificates__link" data-fslightbox="licenses" href="img/certificates/certificate-1.png">
                        <picture class="certificates__img">
                          <source srcset="img/certificates/certificate-1.webp" type="image/webp">
                          <img src="img/certificates/certificate-1.png" alt="Сертификат" width="217">
                        </picture>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
