<section class="sec-reviews sec-offset">
  <div class="sec-reviews__container container">
    <span class="sec-reviews__subtitle sec-subtitle">
      <svg>
        <use xlink:href="img/sprite.svg#marker-blue"></use>
      </svg>
      <span>Отзывы наших клиентов</span>
    </span>
    <!-- Шапка секции -->
    <div class="sec-reviews__heading sec-heading">
      <h2 class="sec-reviews__title sec-title sec-heading__title">У нас покупают более 100 компаний по всему миру</h2>
      <a href="#" class="sec-reviews__link link-chevron sec-heading__link">
        <span>Все отзывы</span>
        <svg class="link-chevron__icon">
          <use xlink:href="img/sprite.svg#chevrons-right"></use>
        </svg>
      </a>
      <!-- Навигация слайдера -->
      <div class="slider-nav sec-reviews__slider-nav" data-aos="fade-up" data-aos-duration="700" data-aos-delay="400">
        <button class="sec-reviews__btn-prev slider-nav__btn">
          <svg class="slider-nav__icon">
            <use xlink:href="img/sprite.svg#chevron-left"></use>
          </svg>
        </button>
        <button class="sec-reviews__btn-next slider-nav__btn">
          <svg class="slider-nav__icon">
            <use xlink:href="img/sprite.svg#chevron-right"></use>
          </svg>
        </button>
      </div>
    </div>

    <!-- Слайдер отзывов -->
     <div class="slider sec-reviews__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="sec-reviews__content reviews">
            <div class="reviews__heading">
              <div class="reviews__source">
                <span class="reviews__source-name">Листон в <span class="red">Я</span>ндекс</span>
                <div class="reviews__rating">
                  <div class="rating">
                    <span class="rating__star is-active">
                      <svg class="rating__icon">
                        <use xlink:href="img/sprite.svg#icon-star"></use>
                      </svg>
                    </span>
                    <span class="rating__star is-active">
                      <svg class="rating__icon">
                        <use xlink:href="img/sprite.svg#icon-star"></use>
                      </svg>
                    </span>
                    <span class="rating__star is-active">
                      <svg class="rating__icon">
                        <use xlink:href="img/sprite.svg#icon-star"></use>
                      </svg>
                    </span>
                    <span class="rating__star is-active">
                      <svg class="rating__icon">
                        <use xlink:href="img/sprite.svg#icon-star"></use>
                      </svg>
                    </span>
                    <span class="rating__star is-active">
                      <svg class="rating__icon">
                        <use xlink:href="img/sprite.svg#icon-star"></use>
                      </svg>
                    </span>
                  </div>
                  <span class="reviews__rating-value"><b>4.7 / 5</b> (51 отзыв)</span>
                </div>
              </div>
              <button class="reviews__btn ui-btn ui-btn--ghost-blue" type="button">Оставить отзыв</button>
            </div>
            <ul class="reviews__list">
              <li class="reviews__item">
                <div class="card-reviews">
                  <div class="card-reviews__top">
                    <span class="card-reviews__name">Светлана Бондарь</span>
                    <div class="card-reviews__rating rating">
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                  <p class="card-reviews__text is-clamp" style="--lines: 6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
              </li>
              <li class="reviews__item">
                <div class="card-reviews">
                  <div class="card-reviews__top">
                    <span class="card-reviews__name">Светлана Бондарь</span>
                    <div class="card-reviews__rating rating">
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                  <p class="card-reviews__text is-clamp" style="--lines: 6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
              </li>
              <li class="reviews__item">
                <div class="card-reviews">
                  <div class="card-reviews__top">
                    <span class="card-reviews__name">Светлана Бондарь</span>
                    <div class="card-reviews__rating rating">
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                  <p class="card-reviews__text is-clamp" style="--lines: 6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
              </li>
              <li class="reviews__item">
                <div class="card-reviews">
                  <div class="card-reviews__top">
                    <span class="card-reviews__name">Светлана Бондарь</span>
                    <div class="card-reviews__rating rating">
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                  <p class="card-reviews__text is-clamp" style="--lines: 6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="sec-reviews__content reviews">
            <div class="reviews__heading">
              <div class="reviews__source">
                <span class="reviews__source-name">Листон в <span class="red">Я</span>ндекс</span>
                <div class="reviews__rating">
                  <div class="rating">
                    <span class="rating__star is-active">
                      <svg class="rating__icon">
                        <use xlink:href="img/sprite.svg#icon-star"></use>
                      </svg>
                    </span>
                    <span class="rating__star is-active">
                      <svg class="rating__icon">
                        <use xlink:href="img/sprite.svg#icon-star"></use>
                      </svg>
                    </span>
                    <span class="rating__star is-active">
                      <svg class="rating__icon">
                        <use xlink:href="img/sprite.svg#icon-star"></use>
                      </svg>
                    </span>
                    <span class="rating__star is-active">
                      <svg class="rating__icon">
                        <use xlink:href="img/sprite.svg#icon-star"></use>
                      </svg>
                    </span>
                    <span class="rating__star is-active">
                      <svg class="rating__icon">
                        <use xlink:href="img/sprite.svg#icon-star"></use>
                      </svg>
                    </span>
                  </div>
                  <span reviews__rating-value><b>4.7 / 5</b> (51 отзыв)</span>
                </div>
              </div>
              <button class="reviews__btn ui-btn ui-btn--ghost-blue" type="button">Оставить отзыв</button>
            </div>
            <ul class="reviews__list">
              <li class="reviews__item">
                <div class="card-reviews">
                  <div class="card-reviews__top">
                    <span class="card-reviews__name">Светлана Бондарь</span>
                    <div class="card-reviews__rating rating">
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                  <p class="card-reviews__text is-clamp" style="--lines: 6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
              </li>
              <li class="reviews__item">
                <div class="card-reviews">
                  <div class="card-reviews__top">
                    <span class="card-reviews__name">Светлана Бондарь</span>
                    <div class="card-reviews__rating rating">
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                  <p class="card-reviews__text is-clamp" style="--lines: 6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
              </li>
              <li class="reviews__item">
                <div class="card-reviews">
                  <div class="card-reviews__top">
                    <span class="card-reviews__name">Светлана Бондарь</span>
                    <div class="card-reviews__rating rating">
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                  <p class="card-reviews__text is-clamp" style="--lines: 6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
              </li>
              <li class="reviews__item">
                <div class="card-reviews">
                  <div class="card-reviews__top">
                    <span class="card-reviews__name">Светлана Бондарь</span>
                    <div class="card-reviews__rating rating">
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                  <p class="card-reviews__text is-clamp" style="--lines: 6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="sec-reviews__content reviews">
            <div class="reviews__heading">
              <div class="reviews__source">
                <span class="reviews__source-name">Листон в <span class="red">Я</span>ндекс</span>
                <div class="reviews__rating">
                  <div class="rating">
                    <span class="rating__star is-active">
                      <svg class="rating__icon">
                        <use xlink:href="img/sprite.svg#icon-star"></use>
                      </svg>
                    </span>
                    <span class="rating__star is-active">
                      <svg class="rating__icon">
                        <use xlink:href="img/sprite.svg#icon-star"></use>
                      </svg>
                    </span>
                    <span class="rating__star is-active">
                      <svg class="rating__icon">
                        <use xlink:href="img/sprite.svg#icon-star"></use>
                      </svg>
                    </span>
                    <span class="rating__star is-active">
                      <svg class="rating__icon">
                        <use xlink:href="img/sprite.svg#icon-star"></use>
                      </svg>
                    </span>
                    <span class="rating__star is-active">
                      <svg class="rating__icon">
                        <use xlink:href="img/sprite.svg#icon-star"></use>
                      </svg>
                    </span>
                  </div>
                  <span reviews__rating-value><b>4.7 / 5</b> (51 отзыв)</span>
                </div>
              </div>
              <button class="reviews__btn ui-btn ui-btn--ghost-blue" type="button">Оставить отзыв</button>
            </div>
            <ul class="reviews__list">
              <li class="reviews__item">
                <div class="card-reviews">
                  <div class="card-reviews__top">
                    <span class="card-reviews__name">Светлана Бондарь</span>
                    <div class="card-reviews__rating rating">
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                  <p class="card-reviews__text is-clamp" style="--lines: 6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
              </li>
              <li class="reviews__item">
                <div class="card-reviews">
                  <div class="card-reviews__top">
                    <span class="card-reviews__name">Светлана Бондарь</span>
                    <div class="card-reviews__rating rating">
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                  <p class="card-reviews__text is-clamp" style="--lines: 6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
              </li>
              <li class="reviews__item">
                <div class="card-reviews">
                  <div class="card-reviews__top">
                    <span class="card-reviews__name">Светлана Бондарь</span>
                    <div class="card-reviews__rating rating">
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                  <p class="card-reviews__text is-clamp" style="--lines: 6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
              </li>
              <li class="reviews__item">
                <div class="card-reviews">
                  <div class="card-reviews__top">
                    <span class="card-reviews__name">Светлана Бондарь</span>
                    <div class="card-reviews__rating rating">
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                      <span class="rating__star is-active">
                        <svg class="rating__icon">
                          <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                  <p class="card-reviews__text is-clamp" style="--lines: 6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
     </div>
  </div>
</section>
