<section class="sec-company sec-offset">
  <div class="sec-company__container container">
    <span class="sec-company__subtitle sec-subtitle" data-aos="fade-up">
      <svg>
        <use xlink:href="img/sprite.svg#marker-blue"></use>
      </svg>
      <span>О компании Листон</span>
    </span>
    <div class="sec-company__heading" data-aos="fade-up" data-aos-delay="200">
      <span class="sec-company__year"><strong>+19</strong> лет</span>
      <p class="sec-company__descr">
        Компания «Листон» - это инновационная компания, занимающаяся разработкой
        и изготовлением современного лабораторного оборудования
      </p>
    </div>
    <!-- Карта -->
    <div class="sec-company__map" data-aos="fade-up" data-aos-delay="400">
      <div class="sec-company__map-img">
        <img
          src="img/delivery/map.svg"
          alt="Карта России"
          aria-hidden="true"
          width="1227"
        />
        <div class="sec-company__pin map-pin">
          <div class="map-pin__text">
            <span><b>Самовывоз</b></span>
            <span>Калужская область, Россия</span>
          </div>
          <div class="map-pin__icon"></div>
        </div>
      </div>
    </div>
    <div class="sec-company__text" data-aos="fade-up">
      <p>
        Компания «Листон» зарегистрирована в марте 2009 года, выделившись из компании «Элекон-М» в
        самостоятельное юридическое лицо, специализирующееся на разработке, сертификации, производстве и
        продвижении на российский и международный рынок медицинской техники под торговой маркой Liston.
      </p>
      <p>
        Компания «Листон» - это инновационная компания, занимающаяся разработкой и изготовлением современного
        лабораторного оборудования: <u>
          центрифуги лабораторные, дистилляторы медицинские,
          бактерицидные камеры, деструкторы игл
        </u> и др. В 2013 году компания успешна прошла сертификационные
        испытания по стандарту ISO 13485:2003 (Система менеджмента качества производства медицинского
        оборудования). Ряд линеек оборудования сертифицирован для использования в странах Европейского Союза.
        География поставок оборудования включает РФ, Белоруссию, Украину, Казахстан, Азербайджан, Италию.
      </p>
    </div>
  </div>
</section>
