<section class="sec-delivery sec-offset">
  <div class="sec-delivery__container container">
    <!-- Шапка секции -->
    <div class="sec-delivery__heading sec-heading sec-heading--text">
      <h2 class="sec-delivery__title sec-title sec-heading__title">Доставка по России и миру</h2>
      <div class="sec-delivery__descr sec-heading__text">
        <p>Доставка в пределах Российской Федерации осуществляется через транспортные компанию «Деловые Линии» из г.Обнинск. </p>
        <p>Возможна срочная доставка курьерской службой СДЭК. Доставка до терминала транспортной компании бесплатно.</p>
        <p>В пределах г. Москвы, Московской области, г. Калуги и Калужской области возможна поставка автотранспортом компании «Листон» по предварительной договорённости. Отгрузки в транспортную компанию осуществляются <b>каждую среду и пятницу</b>.</p>
      </div>
      <div class="sec-delivery__companies">
        <img src="img/delivery/Dellin_Logo.png" alt="Деловые линии" width="273" height="41">
        <img src="img/delivery/CDEK_Logo.png" alt="Деловые линии" width="103" height="29">
      </div>
    </div>

    <!-- Карта -->
     <div class="sec-delivery__map">
      <div class="sec-delivery__map-img">
        <img src="img/delivery/map.svg" alt="" aria-hidden="true" width="1227">
        <div class="sec-delivery__pin map-pin">
          <div class="map-pin__text">
            <span><b>Самовывоз</b></span>
            <span>Калужская область, Россия</span>
          </div>
          <div class="map-pin__icon"></div>
        </div>
      </div>
     </div>
     <p class="sec-delivery__text">Компания «Листон» также осуществляет поставку по прямым контрактам в страны СНГ и по всему миру. Основной базис поставки — CPT (Инкотермс — 2010).</p>
     <p class="sec-delivery__text">Доставка товара по г.Обнинск не осуществляется (самовывоз из магазина).</p>
  </div>
</section>
