<section class="sec-contacts sec-offset">
  <div class="sec-contacts__container container">
    <h2 class="sec-contacts__title sec-title">Контакты</h2>

    <div class="sec-contacts__content">
      <div class="sec-contacts__address">
        <div class="sec-contacts__wrap">
          <span class="sec-contacts__heading">Адрес</span>
          <p class="sec-contacts__value sec-contacts__value--address">249191, Калужская область, г. Жуков, ул. Сельхозтехника, д. 15</p>
        </div>
        <div class="sec-contacts__wrap">
          <span class="sec-contacts__heading">График работы</span>
          <p class="sec-contacts__value">пн-пт 8:00-17:00</p>
        </div>
        <div class="sec-contacts__wrap">
          <span class="sec-contacts__heading">Телефон/факс</span>
          <p class="sec-contacts__value"><span>+7(4843)972-223,</span> <span>8(800)350-40-41</span></p>
        </div>
      </div>
      <div class="sec-contacts__address">
        <div class="sec-contacts__wrap">
          <span class="sec-contacts__heading">Дополнительный офис в г. Москва (склада нет)</span>
          <p class="sec-contacts__value sec-contacts__value--address">119334, Россия, г. Москва, 5-й Донской проезд, д. 15, офис 19</p>
        </div>
        <div class="sec-contacts__wrap">
          <span class="sec-contacts__heading">График работы</span>
          <p class="sec-contacts__value">пн-пт 8:30-16:30 </p>
        </div>
        <div class="sec-contacts__wrap">
          <span class="sec-contacts__heading">Телефон/факс</span>
          <p class="sec-contacts__value">+7(499)649-15-45</p>
        </div>
      </div>
      <div class="sec-contacts__requisities">
        <span class="sec-contacts__heading">Реквизиты</span>
        <p class="sec-contacts__value">ООО&nbsp;«Листон»,<br>ИНН&nbsp;4025421551,<br>КПП&nbsp;400701001,<br>ОГРН&nbsp;1094025001070</p>
      </div>
    </div>

    <div class="sec-contacts__mail">
      <span class="sec-contacts__subtitle sec-subtitle">
        <svg>
          <use xlink:href="img/sprite.svg#marker-blue"></use>
        </svg>
        <span>Почта для связи</span>
      </span>
      <ul class="sec-contacts__mail-list">
        <li class="sec-contacts__mail-item">
          <span class="sec-contacts__heading">Отдел продаж в РФ</span>
          <a class="sec-contacts__link" href="mailto:info@liston.ru">info@liston.ru</a>
        </li>
        <li class="sec-contacts__mail-item">
          <span class="sec-contacts__heading">Служба поддержки</span>
          <a class="sec-contacts__link" href="mailto:support@liston.ru">support@liston.ru</a>
        </li>
      </ul>
    </div>
  </div>
</section>
