<section class="sec-catalog sec-offset">
  <div class="sec-catalog__container container">
    <span class="sec-catalog__subtitle sec-subtitle">
      <svg>
        <use xlink:href="img/sprite.svg#marker-blue"></use>
      </svg>
      <span>Каталог медицинского лабораторного оборудования</span>
    </span>
    <!-- Шапка секции -->
    <div class="sec-catalog__heading sec-heading sec-heading--text">
      <h2 class="sec-catalog__title sec-title sec-heading__title">Мы разрабатываем и изготавливаем современное
        лабораторное оборудование</h2>
      <p class="sec-catalog__descr sec-heading__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <a href="catalog.html" class="sec-catalog__link link-chevron sec-heading__link">
        <span>Смотреть все</span>
        <svg class="link-chevron__icon">
          <use xlink:href="img/sprite.svg#chevrons-right"></use>
        </svg>
      </a>
      <!-- Навигация слайдера -->
      <div class="slider-nav sec-catalog__slider-nav" data-aos="fade-up" data-aos-duration="700" data-aos-delay="400">
        <button class="sec-catalog__btn-prev slider-nav__btn">
          <svg class="slider-nav__icon">
            <use xlink:href="img/sprite.svg#chevron-left"></use>
          </svg>
        </button>
        <button class="sec-catalog__btn-next slider-nav__btn">
          <svg class="slider-nav__icon">
            <use xlink:href="img/sprite.svg#chevron-right"></use>
          </svg>
        </button>
      </div>
    </div>

    <!-- Слайдер -->
    <div class="swiper sec-catalog__slider slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="card-category" aria-label="Перейти в категорию Центрифуги">
            <picture class="card-category__img">
              <source media="(max-width: 768px)" srcset="img/categories/centrifuge-mobile.png" width="343">
              <source srcset="img/categories/centrifuge.webp 1x, img/categories/centrifuge@2x.webp 2x"
                type="image/webp">
              <img src="img/categories/centrifuge.png" srcset="img/categories/centrifuge@2x.png 2x" alt="Фото товара"
                width="406" height="406" loading="lazy">
            </picture>
            <h3 class="card-category__title">Центрифуги</h3>
            <span class="card-category__link ui-btn ui-btn--white">Смотреть больше</span>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-category card-category--accent" aria-label="Перейти в категорию Аквадистилляторы">
            <picture class="card-category__img">
              <source media="(max-width: 768px)" srcset="img/categories/aquadistilator.png" width="343">
              <source srcset="img/categories/aquadistilator.webp 1x, img/categories/aquadistilator@2x.webp 2x"
                type="image/webp">
              <img src="img/categories/aquadistilator.png" srcset="img/categories/aquadistilator@2x.png 2x"
                alt="Фото товара" width="406" height="406" loading="lazy">
            </picture>
            <h3 class="card-category__title">Аквадистилляторы</h3>
            <span class="card-category__link ui-btn ui-btn--white">Смотреть больше</span>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-category card-category--accent-dark" aria-label="Перейти в категорию Бани водяные">
            <picture class="card-category__img">
              <source media="(max-width: 768px)" srcset="img/categories/water-bath-mobile.png" width="343">
              <source srcset="img/categories/water-bath.webp 1x, img/categories/water-bath@2x.webp 2x"
                type="image/webp">
              <img src="img/categories/water-bath.png" srcset="img/categories/water-bath@2x.png 2x" alt="Фото товара"
                width="406" height="406" loading="lazy">
            </picture>
            <h3 class="card-category__title">Бани водяные</h3>
            <span class="card-category__link ui-btn ui-btn--white">Смотреть больше</span>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-category" aria-label="Перейти в категорию Оборудование для молочных лабораторий">
            <picture class="card-category__img">
              <source media="(max-width: 768px)" srcset="img/categories/milk-lab-mobile.png" width="343">
              <source srcset="img/categories/milk-lab.webp 1x, img/categories/milk-lab@2x.webp 2x" type="image/webp">
              <img src="img/categories/milk-lab.png" srcset="img/categories/milk-lab@2x.png 2x" alt="Фото товара"
                width="406" height="406" loading="lazy">
            </picture>
            <h3 class="card-category__title">Оборудование для молочных лабораторий</h3>
            <span class="card-category__link ui-btn ui-btn--white">Смотреть больше</span>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-category card-category--accent" aria-label="Перейти в категорию Деструкторы">
            <picture class="card-category__img">
              <source media="(max-width: 768px)" srcset="img/categories/destructor-mobile.png" width="343">
              <source srcset="img/categories/destructor.webp 1x, img/categories/destructor@2x.webp 2x"
                type="image/webp">
              <img src="img/categories/destructor.png" srcset="img/categories/destructor@2x.png 2x" alt="Фото товара"
                width="406" height="406" loading="lazy">
            </picture>
            <h3 class="card-category__title">Деструкторы</h3>
            <span class="card-category__link ui-btn ui-btn--white">Смотреть больше</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>