<section class="sec-catalog sec-offset">
  <div class="sec-catalog__container container">
    <span class="sec-catalog__subtitle sec-subtitle">
      <svg>
        <use xlink:href="img/sprite.svg#marker-blue"></use>
      </svg>
      <span>Каталог медицинского лабораторного оборудования</span>
    </span>
    <div class="sec-catalog__heading">
      <h2 class="sec-catalog__title sec-title">Мы разрабатываем и изготавливаем современное лабораторное оборудование</h2>
      <p class="sec-catalog__descr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <a href="#" class="sec-catalog__link link-chevron">
        <span>Смотреть все</span>
        <svg class="link-chevron__icon">
          <use xlink:href="img/sprite.svg#chevrons-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
