<section class="sec-about sec-offset">
  <div class="sec-about__container container">
    <span class="sec-about__subtitle sec-subtitle" data-aos="fade-up">
      <svg>
        <use xlink:href="img/sprite.svg#marker-blue"></use>
      </svg>
      <span>О дистилляторах</span>
    </span>
    <!-- Шапка секции -->
    <div class="sec-about__heading sec-heading sec-heading--text" data-aos="fade-up" data-aos-delay="200">
      <h2 class="sec-about__title sec-title sec-heading__title">Дистилляторы воды для лабораторий от производителя «Листон»</h2>
      <p class="sec-about__descr sec-heading__text">
        Компания «Листон» производит дистилляторы воды с 2009 года. Модельный ряд включает аппараты производительностью
        4, 10 и 25 литров в час со встроенным накопителем. Все дистилляторы изготовлены из нержавеющей стали, оснащены автоматической
        системой управления и защитой от перегрева. Оборудование соответствует ISO 13485 и требованиям Фармакопеи к очищенной воде
        (ФС 42–2619).
      </p>
      <a href="#" class="sec-about__link link-chevron link-chevron--down sec-heading__link">
        <span>Показать еще</span>
        <svg class="link-chevron__icon">
          <use xlink:href="img/sprite.svg#chevrons-right"></use>
        </svg>
      </a>
    </div>
    <p class="sec-about__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident rerum inventore dolores vel,
      ab debitis fuga vero sequi explicabo amet, eveniet ducimus ad perspiciatis accusantium itaque tempora.
      Sapiente, corrupti quibusdam.
    </p>
  </div>
</section>
