<section class="sec-delivery sec-offset">
  <div class="sec-delivery__container container">
    <span class="sec-delivery__subtitle sec-subtitle" data-aos="fade-up">
      <svg>
        <use xlink:href="img/sprite.svg#marker-blue"></use>
      </svg>
      <span>доставка и география</span>
    </span>
    <!-- Шапка секции -->
    <div class="sec-delivery__heading sec-heading sec-heading--text" data-aos="fade-up" data-aos-delay="200">
      <h2 class="sec-delivery__title sec-title sec-heading__title">Доставка по России и миру</h2>
      <p class="sec-delivery__descr sec-heading__text">
        <b>Россия:</b> ТК «Деловые линии», «СДЭК», самовывоз из Калужской области.<br>
        <b>Страны СНГ:</b> по запросу.<br>
        <b>Другие страны:</b> базис поставки СРТ (Инкотермс 2010).
      </p>
      <a href="#" class="sec-delivery__link link-chevron sec-heading__link">
        <span>Подробнее о доставке</span>
        <svg class="link-chevron__icon">
          <use xlink:href="img/sprite.svg#chevrons-right"></use>
        </svg>
      </a>
      <div class="sec-delivery__companies">
        <img src="img/delivery/Dellin_Logo.png" alt="Деловые линии" width="273" height="41">
        <img src="img/delivery/CDEK_Logo.png" alt="Деловые линии" width="103" height="29">
      </div>
    </div>

    <!-- Карта -->
     <div class="sec-delivery__map" data-aos="fade-up" data-aos-delay="400">
      <div class="sec-delivery__map-img">
        <img src="img/delivery/map.svg" alt="" aria-hidden="true" width="1227">
        <div class="sec-delivery__pin map-pin">
          <div class="map-pin__text">
            <span><b>Самовывоз</b></span>
            <span>Калужская область, Россия</span>
          </div>
          <div class="map-pin__icon"></div>
        </div>
      </div>
     </div>
  </div>
</section>
