<section class="sec-clients">
  <div class="sec-clients__container container">
    <span class="sec-clients__subtitle sec-subtitle" data-aos="fade-up">
      <svg>
        <use xlink:href="img/sprite.svg#marker-blue"></use>
      </svg>
      <span>Клиенты</span>
    </span>
        <!-- Шапка секции -->
    <div class="sec-clients__heading sec-heading" data-aos="fade-up" data-aos-delay="200">
      <h2 class="sec-clients__title sec-title sec-heading__title">Продукция, которую чаще покупают</h2>
      <a href="#" class="sec-clients__link link-chevron sec-heading__link">
        <span>Смотреть все</span>
        <svg class="link-chevron__icon">
          <use xlink:href="img/sprite.svg#chevrons-right"></use>
        </svg>
      </a>
      <!-- Навигация слайдера -->
      <div class="slider-nav sec-clients__slider-nav">
        <button class="sec-clients__btn-prev slider-nav__btn">
          <svg class="slider-nav__icon">
            <use xlink:href="img/sprite.svg#chevron-left"></use>
          </svg>
        </button>
        <button class="sec-clients__btn-next slider-nav__btn">
          <svg class="slider-nav__icon">
            <use xlink:href="img/sprite.svg#chevron-right"></use>
          </svg>
        </button>
      </div>
    </div>

    <!-- Слайдер клиентов -->
    <div class="swiper sec-clients__slider slider" data-aos="fade-up" data-aos-delay="300">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card-client">
            <picture>
              <source media="(max-width: 768px)" srcset="img/client-mobile.png" width="132">
              <source srcset="img/client.webp 1x" type="image/webp">
              <img src="img/client.png" alt="Лого бренда" width="220" height="31" loading="lazy">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-client">
            <picture>
              <source media="(max-width: 768px)" srcset="img/client-mobile.png" width="132">
              <source srcset="img/client.webp 1x" type="image/webp">
              <img src="img/client.png" alt="Лого бренда" width="220" height="31" loading="lazy">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-client">
            <picture>
              <source media="(max-width: 768px)" srcset="img/client-mobile.png" width="132">
              <source srcset="img/client.webp 1x" type="image/webp">
              <img src="img/client.png" alt="Лого бренда" width="220" height="31" loading="lazy">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-client">
            <picture>
              <source media="(max-width: 768px)" srcset="img/client-mobile.png" width="132">
              <source srcset="img/client.webp 1x" type="image/webp">
              <img src="img/client.png" alt="Лого бренда" width="220" height="31" loading="lazy">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-client">
            <picture>
              <source media="(max-width: 768px)" srcset="img/client-mobile.png" width="132">
              <source srcset="img/client.webp 1x" type="image/webp">
              <img src="img/client.png" alt="Лого бренда" width="220" height="31" loading="lazy">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-client">
            <picture>
              <source media="(max-width: 768px)" srcset="img/client-mobile.png" width="132">
              <source srcset="img/client.webp 1x" type="image/webp">
              <img src="img/client.png" alt="Лого бренда" width="220" height="31" loading="lazy">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-client">
            <picture>
              <source media="(max-width: 768px)" srcset="img/client-mobile.png" width="132">
              <source srcset="img/client.webp 1x" type="image/webp">
              <img src="img/client.png" alt="Лого бренда" width="220" height="31" loading="lazy">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
