<section class="sec-popular sec-offset">
  <div class="sec-popular__container container">
    <span class="sec-popular__subtitle sec-subtitle">
      <svg>
        <use xlink:href="img/sprite.svg#marker-blue"></use>
      </svg>
      <span>Каталог медицинского лабораторного оборудования</span>
    </span>
    <!-- Шапка секции -->
    <div class="sec-popular__heading">
      <h2 class="sec-popular__title sec-title">Продукция, которую чаще покупают</h2>
      <a href="#" class="sec-popular__link link-chevron">
        <span>Смотреть все</span>
        <svg class="link-chevron__icon">
          <use xlink:href="img/sprite.svg#chevrons-right"></use>
        </svg>
      </a>
      <!-- Навигация слайдера -->
      <div class="slider-nav sec-popular__slider-nav" data-aos="fade-up" data-aos-duration="700" data-aos-delay="400">
        <button class="sec-popular__btn-prev slider-nav__btn">
          <svg class="slider-nav__icon">
            <use xlink:href="img/sprite.svg#chevron-left"></use>
          </svg>
        </button>
        <button class="sec-popular__btn-next slider-nav__btn">
          <svg class="slider-nav__icon">
            <use xlink:href="img/sprite.svg#chevron-right"></use>
          </svg>
        </button>
      </div>
    </div>

    <!-- Слайдер популярных товаров -->
     <div class="swiper sec-popular__slider slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="product-card">
            <a href="#" class="product-card__link"></a>
            <div class="product-card__wrap">
              <span class="product-card__category">Дистиллятор</span>
              <h3 class="product-card__title">Дистиллятор электрический со встроенным сборником Liston A 1104</h3>

              <div class="product-card__prices prices">
                <span class="prices__current">75 000 ₽</span>
                <span class="prices__old">100000 ₽</span>
              </div>
              <div class="product-card__action">
                <button class="product-card__add-to-cart ui-btn ui-btn--accent" type="button">В корзину</button>
                <a class="product-card__more-btn ui-btn ui-btn--ghost" href="#">Подробнее</a>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
  </div>
</section>
