<section class="sec-areas sec-offset">
  <div class="sec-areas__container container">
    <span class="sec-areas__subtitle sec-subtitle" data-aos="fade-up" data-aos-delay="200">
      <svg>
        <use xlink:href="img/sprite.svg#marker-blue"></use>
      </svg>
      <span>Области применения</span>
    </span>

    <h2 class="sec-areas__title sec-title" data-aos="fade-up" data-aos-delay="200">Где используют оборудование Liston</h2>

    <ul class="sec-areas__list" data-aos="fade-up" data-aos-delay="400">
      <li class="sec-areas__item">
        <div class="card-area">
          <span class="card-area__img">
            <img src="img/svg/advantage.svg" alt="" aria-hidden="true" width="40" height="40" loading="lazy">
          </span>
          <span class="card-area__text">В лабораториях научно-исследовательских институтов</span>
        </div>
      </li>
      <li class="sec-areas__item">
        <div class="card-area">
          <span class="card-area__img">
            <img src="img/svg/advantage.svg" alt="" aria-hidden="true" width="40" height="40" loading="lazy">
          </span>
          <span class="card-area__text">В косметологии</span>
        </div>
      </li>
      <li class="sec-areas__item">
        <div class="card-area">
          <span class="card-area__img">
            <img src="img/svg/advantage.svg" alt="" aria-hidden="true" width="40" height="40" loading="lazy">
          </span>
          <span class="card-area__text">В пищевой промышленности</span>
        </div>
      </li>
      <li class="sec-areas__item">
        <div class="card-area">
          <span class="card-area__img">
            <img src="img/svg/advantage.svg" alt="" aria-hidden="true" width="40" height="40" loading="lazy">
          </span>
          <span class="card-area__text">В нефтедобывающей промышленности</span>
        </div>
      </li>
    </ul>
  </div>
</section>
