<section class="sec-equipment sec-offset">
  <div class="sec-equipment__container container">
    <span class="sec-equipment__subtitle sec-subtitle">
      <svg>
        <use xlink:href="img/sprite.svg#marker-blue"></use>
      </svg>
      <span>Oб оборудовании</span>
    </span>
    <!-- Шапка секции -->
    <div class="sec-equipment__heading sec-heading sec-heading--text">
      <h2 class="sec-equipment__title sec-title sec-heading__title">
        Мы разрабатываем и изготавливаем современное лабораторное оборудование
      </h2>
      <p class="sec-equipment__descr sec-heading__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
      <a
        href="#"
        class="sec-equipment__link link-chevron link-chevron--down sec-heading__link"
      >
        <span>Показать еще</span>
        <svg class="link-chevron__icon">
          <use xlink:href="img/sprite.svg#chevrons-right"></use>
        </svg>
      </a>
    </div>
    <p class="sec-equipment__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident rerum
      inventore dolores vel, ab debitis fuga vero sequi explicabo amet, eveniet
      ducimus ad perspiciatis accusantium itaque tempora. Sapiente, corrupti
      quibusdam.
    </p>
  </div>
</section>
