<section class="sec-partnership sec-offset">
  <div class="sec-partnership__container container" data-aos="fade-up">
    <div class="sec-partnership__form contact-form sec-offset">
      <div class="contact-form__container container">
        <div class="contact-form__content" data-aos="fade-up">
          <span class="contact-form__subtitle sec-subtitle">
            <svg>
              <use xlink:href="img/sprite.svg#marker-blue"></use>
            </svg>
            <span>Партнерство</span>
          </span>
          <h2 class="sec-partnership__title sec-title">Стать сервис партнером</h2>
          <p class="contact-form__descr">
            Заполните форму, если у вас есть лицензия на обслуживание медицинского оборудования
            и желание стать нашим партнером. Мы всегда рады сотрудничеству.
          </p>
          <div class="contact-form__form form">
            <div class="form__content">
              <div class="form__field form-field">
                <label class="form-field__label" for="email">Почта</label>
                <input class="form-field__input" type="email" id="email" placeholder="info@gmail.com">
                <button class="form-field__btn-clear" type="button" aria-label="Очистить поле ввода">
                  <svg class="header-bottom__icon">
                    <use xlink:href="img/sprite.svg#close"></use>
                  </svg>
                </button>
                <span class="form-field__error">Неверное значение</span>
              </div>
              <div class="form__field form-field form-field--required">
                <label class="form-field__label" for="phone">Телефон</label>
                <input class="form-field__input" type="text" id="phone" placeholder="+7 ___ ___ ____">
                <button class="form-field__btn-clear" type="button" aria-label="Очистить поле ввода">
                  <svg class="header-bottom__icon">
                    <use xlink:href="img/sprite.svg#close"></use>
                  </svg>
                </button>
                <span class="form-field__error">Неверное значение</span>
              </div>
              <div class="form__field form-field form-field--required">
                <label class="form-field__label" for="name">Контактное лицо</label>
                <input class="form-field__input" type="text" id="name" placeholder="Иван">
                <button class="form-field__btn-clear" type="button" aria-label="Очистить поле ввода">
                  <svg class="header-bottom__icon">
                    <use xlink:href="img/sprite.svg#close"></use>
                  </svg>
                </button>
                <span class="form-field__error">Неверное значение</span>
              </div>
              <div class="form__field form-field">
                <label class="form-field__label" for="comment">Комментарий</label>
                <input class="form-field__input" type="text" id="comment">
                <button class="form-field__btn-clear" type="button" aria-label="Очистить поле ввода">
                  <svg class="header-bottom__icon">
                    <use xlink:href="img/sprite.svg#close"></use>
                  </svg>
                </button>
                <span class="form-field__error">Неверное значение</span>
              </div>
              <div class="form__control">
                <div class="form__agree form-agree">
                  <label class="form-agree__label" for="agree">
                    <input class="form-agree__input visually-hidden" type="checkbox" id="agree">
                    <span>
                      Я ознакомлен(-а) и согласен(-на) с <a href="#">Политикой конфиденциальности</a> и даю свое
                      согласие на обработку своих персональных данных в соответствии с указанными условиями
                    </span>
                    <span class="form-agree__icon">
                      <svg>
                        <use xlink:href="img/sprite.svg#check"></use>
                      </svg>
                    </span>
                  </label>
                </div>
                <button class="form__btn ui-btn" type="submit">Отправить заказ</button>
              </div>
            </div>
          </div>
          <div class="contact-form__phone">
            <span>Или звоните по телефону</span>
            <a href="tel:+74843972223">+7 (484)397-22-23</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
