<section class="sec-areas sec-offset">
  <div class="sec-areas__container container">
    <span class="sec-areas__subtitle sec-subtitle">
      <svg>
        <use xlink:href="img/sprite.svg#marker-blue"></use>
      </svg>
      <span>Области применения</span>
    </span>

    <h2 class="sec-areas__title sec-title">Где используют дистилляторы Liston</h2>

    <ul class="sec-areas__list">
      <li class="sec-areas__item">
        <div class="card-area">
          <span class="card-area__img">
            <img src="img/svg/advantage.svg" alt="" aria-hidden="true" width="40" height="40" loading="lazy">
          </span>
          <span class="card-area__text">Клинико-диагностические лаборатории</span>
        </div>
      </li>
      <li class="sec-areas__item">
        <div class="card-area">
          <span class="card-area__img">
            <img src="img/svg/advantage.svg" alt="" aria-hidden="true" width="40" height="40" loading="lazy">
          </span>
          <span class="card-area__text">Научно-исследовательские институты</span>
        </div>
      </li>
      <li class="sec-areas__item">
        <div class="card-area">
          <span class="card-area__img">
            <img src="img/svg/advantage.svg" alt="" aria-hidden="true" width="40" height="40" loading="lazy">
          </span>
          <span class="card-area__text">Косметологические центры</span>
        </div>
      </li>
      <li class="sec-areas__item">
        <div class="card-area">
          <span class="card-area__img">
            <img src="img/svg/advantage.svg" alt="" aria-hidden="true" width="40" height="40" loading="lazy">
          </span>
          <span class="card-area__text">Фармацевтические производства</span>
        </div>
      </li>
      <li class="sec-areas__item">
        <div class="card-area">
          <span class="card-area__img">
            <img src="img/svg/advantage.svg" alt="" aria-hidden="true" width="40" height="40" loading="lazy">
          </span>
          <span class="card-area__text">Пищевые лаборатории</span>
        </div>
      </li>
    </ul>
  </div>
</section>
