<section class="sec-principle sec-offset">
  <div class="sec-principle__container container">
    <span class="sec-principle__subtitle sec-subtitle" data-aos="fade-up">
      <svg>
        <use xlink:href="img/sprite.svg#marker-blue"></use>
      </svg>
      <span>наш принцип</span>
    </span>
    <h2 class="sec-principle__title sec-title" data-aos="fade-up" data-aos-delay="200">
      При проектировании и производстве мы руководствуемся принципом «Надёжно. Доступно. Сделано в России».
    </h2>
    <p class="sec-principle__text" data-aos="fade-up" data-aos-delay="400">
      Мы динамично развиваемся и постоянно улучшаем характеристики и качество нашего оборудования.
    </p>
  </div>
</section>
