<section class="sec-favorites sec-offset">
  <div class="sec-favorites__container container">
    <h2 class="sec-favorites__title sec-title" data-aos="fade-up">Избранное</h2>
    <ul class="sec-favorites__list">
      <li class="sec-favorites__item" data-aos="fade-up" data-aos-delay="200">
        <div class="product-card">
          <a href="#" class="product-card__link"></a>
            <picture class="product-card__img">
              <source media="(max-width: 768px)" srcset="img/catalog/product-img-mobile.png" width="343">
              <source srcset="img/catalog/product-img.webp 1x" type="image/webp">
              <img src="img/catalog/product-img.png" alt="Фото товара"
                  width="334" height="331" loading="lazy">
            </picture>
            <div class="product-card__wrap">
              <span class="product-card__category">Дистиллятор</span>
              <h3 class="product-card__title">Электрический дистиллятор воды Liston A1125</h3>
              <div class="product-card__prices prices">
                <span class="prices__current">125 500 ₽</span>
                <span class="prices__old">100000 ₽</span>
              </div>
              <div class="product-card__action">
                <button class="product-card__add-to-cart ui-btn ui-btn--accent" type="button">В корзину</button>
                <a class="product-card__more-btn ui-btn ui-btn--ghost-blue" href="#">Подробнее</a>
              </div>
            </div>
            <!-- Кнопки Избранное и Сравнение -->
            <div class="product-card__btns">
              <button class="product-card__like" aria-label="Добавить товар в избранное">
                <svg>
                  <use xlink:href="img/sprite.svg#wishlist"></use>
                </svg>
              </button>
              <button class="product-card__compare" aria-label="Добавить товар в сравнение">
                <svg>
                  <use xlink:href="img/sprite.svg#compare"></use>
                </svg>
              </button>
            </div>
          </div>
      </li>
      <li class="sec-favorites__item" data-aos="fade-up" data-aos-delay="250">
        <div class="product-card">
          <a href="#" class="product-card__link"></a>
            <picture class="product-card__img">
              <source media="(max-width: 768px)" srcset="img/catalog/product-img-mobile.png" width="343">
              <source srcset="img/catalog/product-img.webp 1x" type="image/webp">
              <img src="img/catalog/product-img.png" alt="Фото товара"
                  width="334" height="331" loading="lazy">
            </picture>
            <div class="product-card__wrap">
              <span class="product-card__category">Дистиллятор</span>
              <h3 class="product-card__title">Электрический дистиллятор воды Liston A1125</h3>
              <div class="product-card__prices prices">
                <span class="prices__current">125 500 ₽</span>
                <span class="prices__old">100000 ₽</span>
              </div>
              <div class="product-card__action">
                <button class="product-card__add-to-cart ui-btn ui-btn--accent" type="button">В корзину</button>
                <a class="product-card__more-btn ui-btn ui-btn--ghost-blue" href="#">Подробнее</a>
              </div>
            </div>
            <!-- Кнопки Избранное и Сравнение -->
            <div class="product-card__btns">
              <button class="product-card__like" aria-label="Добавить товар в избранное">
                <svg>
                  <use xlink:href="img/sprite.svg#wishlist"></use>
                </svg>
              </button>
              <button class="product-card__compare" aria-label="Добавить товар в сравнение">
                <svg>
                  <use xlink:href="img/sprite.svg#compare"></use>
                </svg>
              </button>
            </div>
          </div>
      </li>
      <li class="sec-favorites__item" data-aos="fade-up" data-aos-delay="300">
        <div class="product-card">
          <a href="#" class="product-card__link"></a>
            <picture class="product-card__img">
              <source media="(max-width: 768px)" srcset="img/catalog/product-img-mobile.png" width="343">
              <source srcset="img/catalog/product-img.webp 1x" type="image/webp">
              <img src="img/catalog/product-img.png" alt="Фото товара"
                  width="334" height="331" loading="lazy">
            </picture>
            <div class="product-card__wrap">
              <span class="product-card__category">Дистиллятор</span>
              <h3 class="product-card__title">Электрический дистиллятор воды Liston A1125</h3>
              <div class="product-card__prices prices">
                <span class="prices__current">125 500 ₽</span>
                <span class="prices__old">100000 ₽</span>
              </div>
              <div class="product-card__action">
                <button class="product-card__add-to-cart ui-btn ui-btn--accent" type="button">В корзину</button>
                <a class="product-card__more-btn ui-btn ui-btn--ghost-blue" href="#">Подробнее</a>
              </div>
            </div>
            <!-- Кнопки Избранное и Сравнение -->
            <div class="product-card__btns">
              <button class="product-card__like" aria-label="Добавить товар в избранное">
                <svg>
                  <use xlink:href="img/sprite.svg#wishlist"></use>
                </svg>
              </button>
              <button class="product-card__compare" aria-label="Добавить товар в сравнение">
                <svg>
                  <use xlink:href="img/sprite.svg#compare"></use>
                </svg>
              </button>
            </div>
          </div>
      </li>
    </ul>
  </div>
</section>
