<section class="state-page sec-offset">
  <div class="state-page__container container">
    <h2 class="state-page__title sec-title">
      Как работает медицинский дистиллятор и для чего это нужно
    </h2>

    <div class="state-page__wrap">
      <span class="state-page__wrap-date">20 марта 2026</span>
      <div class="state-page__wrap-view">
        <svg class="state-page__wrap-icon">
          <use xlink:href="img/sprite.svg#yey"></use>
        </svg>
        <span class="state-page__wrap-number">256</span>
      </div>
    </div>

    <div class="state-page__content">
      <div class="state-page__content-text">
        <p>
          Медицинские дистилляторы применяются в учреждениях здравоохранения, а
          также лабораториях для получения очищенной воды, используемой при
          проведении диагностических и иных процедур. Устройства обеспечивают
          стабильное качество получаемой жидкости и соответствие санитарным
          нормам, предъявляемым к медицинским системам водоподготовки.
        </p>
      </div>

      <div class="state-page__text">
        <h2 class="state-page__text-title">Как это работает</h2>
        <p class="state-page__text-desc">
          Обычная водопроводная вода содержит соли, металлы и органические
          соединения. Они ухудшают результаты лабораторных тестов, а также
          негативно влияют на работу медицинского оборудования.
        </p>
        <p class="state-page__text-desc">
          Чтобы получить чистую воду, её подвергают процессу дистилляции,
          который основан на испарении и последующей конденсации.
          После нагревания жидкость превращается в пар, затем охлаждается
          и вновь становится водой, но уже без примесей.
        </p>
      </div>

      <picture class="state-page__content-img">
        <!-- <source media="(max-width: 768px)" srcset="img/state/state-img-1-mobile.png" width="343"> -->
        <source srcset="img/catalog/disct-state.webp 1x" type="image/webp" />
        <img
          src="img/catalog/disct-state.jpg"
          alt="Иллюстрация к статье"
          width="1400"
          height="716"
          loading="lazy"
        />
      </picture>
    </div>

    <div class="state-page__text">
      <h3 class="state-page__text-header">Конструктивные особенности</h3>
      <p class="state-page__text-desc state-page__text-desc--nodown">
        Современные установки различаются по многим характеристикам, включая
        конструкцию, производительность, а также способ нагрева. Подробно об
        отличиях:
      </p>
      <ol class="state-page__list state-page__list--numbered">
        <li class="state-page__item">
          <span>Наличие встроенного резервуара.</span> Существуют аппараты с
          емкостью для сбора очищенной воды и без нее. Первый вариант
          обеспечивает автономность установки, второй требует присутствия
          персонала.
        </li>
        <li class="state-page__item">
          <span>Источник энергии.</span> Наиболее распространены электрические
          системы, которые работают автоматически, поддерживая стабильную
          температуру и уровень воды.
        </li>
        <li class="state-page__item">
          <span>Количество ступеней очистки.</span> Одни приборы выполняют один
          цикл испарения, другие – двойной, что позволяет удалить даже следовые
          количества примесей.
        </li>
      </ol>

      <p class="state-page__text-desc">
        Разнообразие конструкций позволяет подобрать устройство для любых
        условий эксплуатации.
      </p>
    </div>

    <div class="state-page__text">
      <h2 class="state-page__text-title">Области применения</h2>
      <p class="state-page__text-desc state-page__text-desc--nodown">
        В медицинских центрах, лабораториях и исследовательских учреждениях
        дистиллированная вода необходима для проведения целого спектра процедур
        и технологических процессов.
      </p>
      <p class="state-page__text-desc state-page__text-desc--nodown">
        Её ценность определяется отсутствием веществ, способных изменить
        результаты лабораторных анализов или повлиять на качество медицинских
        препаратов. Очищенная вода применяется при: при дополнительной
        очистке/дезинфекции; разведении лекарственных форм; стерилизации
        инструментов; обработке оборудования. При проведении лабораторных
        анализов дистиллят исключает риск искажения данных, поскольку
        даже незначительное количество примесей в обычной воде может повлиять
        на химические реакции.
      </p>
      <p class="state-page__text-desc state-page__text-desc--nodown">
        Очищенная вода применяется при:
      </p>
      <ul class="state-page__list state-page__list--bulleted">
        <li class="state-page__item">
          при дополнительной очистке/дезинфекции;
        </li>
        <li class="state-page__item">разведении лекарственных форм;</li>
        <li class="state-page__item">стерилизации инструментов;</li>
        <li class="state-page__item">обработке оборудования.</li>
      </ul>

      <p class="state-page__text-desc">
        При проведении лабораторных анализов дистиллят исключает риск искажения
        данных, поскольку даже незначительное количество примесей в обычной воде
        может повлиять на химические реакции.
      </p>
    </div>

    <picture class="state-page__content-img">
      <!-- <source media="(max-width: 768px)" srcset="img/state/state-img-1-mobile.png" width="343"> -->
      <source srcset="img/catalog/disct-state-2.webp 1x" type="image/webp" />
      <img
        src="img/catalog/disct-state-2.jpg"
        alt="Иллюстрация к статье"
        width="1400"
        height="716"
        loading="lazy"
      />
    </picture>

    <div class="state-page__text">
      <h2 class="state-page__text-title">Правила эксплуатации</h2>
      <p class="state-page__text-desc state-page__text-desc--nodown">
        Чтобы устройство работало стабильно, необходимо соблюдать несколько
        требований:
      </p>
      <ul class="state-page__list state-page__list--bulleted">
        <li class="state-page__item">
          размещать оборудование в сухом помещении с вентиляцией и доступом к
          водопроводу;
        </li>
        <li class="state-page__item">
          исключить наличие рядом химических реагентов, летучих веществ, пыли;
        </li>
        <li class="state-page__item">
          устанавливать прибор на прочной, ровной, влагостойкой поверхности;
        </li>
        <li class="state-page__item">
          предусмотреть резиновое покрытие пола для защиты от случайных
          проливов;
        </li>
        <li class="state-page__item">обязательно выполнять заземление.</li>
      </ul>

      <p class="state-page__text-desc">
        Работать с дистиллятором следует только после ознакомления с
        инструкцией. Пользователь должен понимать принцип функционирования
        установки, а также знать меры предосторожности.
      </p>
    </div>

    <div class="state-page__text">
      <h3 class="state-page__text-title">Преимущества дистилляторов</h3>
      <p class="state-page__text-desc state-page__text-desc--nodown">
        Дистилляция остается одним из самых надежных способов получения
        очищенной воды. Этот метод обеспечивает отсутствие примесей в жидкости.
        Основные достоинства использования таких установок:
      </p>
      <ol class="state-page__list state-page__list--numbered">
        <li class="state-page__item">
          <span>Максимальную степень очистки.</span> Процесс испарения устраняет
          соли, металлы, радионуклиды, а также другие примеси, делая воду
          пригодной для лабораторных нужд.
        </li>
        <li class="state-page__item">
          <span>Широкий спектр применения.</span>
          Дистилляторы используют в медицине, научных исследованиях,
          промышленности, что делает их универсальным оборудованием.
        </li>
        <li class="state-page__item">
          <span>Минимальные эксплуатационные расходы.</span> Отсутствие сменных
          фильтров снижает стоимость обслуживания, что упрощает уход за
          устройством.
        </li>
        <li class="state-page__item">
          <span>Надежность.</span> Приборы производятся из устойчивых к коррозии
          материалов, способных выдерживать высокие температуры.
        </li>
        <li class="state-page__item">
          <span>Экологическая безопасность.</span> Процесс дистилляции не
          требует реагентов и не создает отходов, что делает технологию
          безопасной для окружающей среды.
        </li>
        <li class="state-page__item">
          <span>Стабильное качество воды.</span> Отсутствие расходных материалов
          и необходимости контроля их состояния обеспечивает стабильный
          результат в любой ситуации.
        </li>
        <li class="state-page__item">
          <span>Совместимость с медицинским оборудованием.</span>
          Использование очищенной воды продлевает срок службы автоклавов,
          стерилизаторов и другой техники.
        </li>
      </ol>

      <p class="state-page__text-desc">
        Дистилляторы обеспечивают надежный источник очищенной воды для любых
        целей – от лабораторных анализов до приготовления растворов. Главное –
        определить необходимые характеристики.
      </p>
    </div>

    <section>
      <div class="sec-impotant">
        <svg class="sec-impotant__icon">
          <use xlink:href="img/sprite.svg#icon-mark"></use>
        </svg>
        <p class="sec-impotant__text">
          Text / Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </section>

    <blockquote class="quote">
      <div class="quote__content">
        <picture class="quote__img">
          <!-- <source media="(max-width: 768px)" srcset="img/state/state-img-1-mobile.png" width="343"> -->
          <source srcset="img/quote.webp 1x" type="image/webp" />
          <img
            src="img/quote.png"
            alt="Иллюстрация к цитате"
            width="80"
            height="80"
            loading="lazy"
          />
        </picture>
        <p class="quote__text">
          Цитата / Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <cite class="quote__author">— Имя Фамилия, должность</cite>
    </blockquote>

    <table class="table">
      <thead>
        <tr>
          <th class="table__empty"></th>
          <!-- пустая ячейка -->
          <th class="table__header">4 л/ч</th>
          <th class="table__header">10 л/ч</th>
          <th class="table__header">10 л/ч</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="table__row-header">
            <span class="table__row-header-text"
              >Вместимость встроенного бака-накопителя</span
            >
          </th>
          <td class="table__cell">на 8 л</td>
          <td class="table__cell">на 20 л</td>
          <td class="table__cell">на 20 л</td>
        </tr>
        <tr>
          <th class="table__row-header">Удельный расход воды</th>
          <td class="table__cell">не более 60 л/ч (15 л / л дистиллята)</td>
          <td class="table__cell">не более 150 л/ч (15 л / л дистиллята)</td>
          <td class="table__cell">не более 150 л/ч (15 л / л дистиллята)</td>
        </tr>
        <tr>
          <th class="table__row-header">Потребляемая мощность</th>
          <td class="table__cell">3 кВт/ч (0,75 кВт/л дистиллята)</td>
          <td class="table__cell">7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
          <td class="table__cell">7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
        </tr>
        <tr>
          <th class="table__row-header">Потребляемая мощность</th>
          <td class="table__cell">3 кВт/ч (0,75 кВт/л дистиллята)</td>
          <td class="table__cell">7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
          <td class="table__cell">7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
        </tr>
        <tr>
          <th class="table__row-header">Потребляемая мощность</th>
          <td class="table__cell">3 кВт/ч (0,75 кВт/л дистиллята)</td>
          <td class="table__cell">7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
          <td class="table__cell">7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
        </tr>
        <tr>
          <th class="table__row-header">Потребляемая мощность</th>
          <td class="table__cell">3 кВт/ч (0,75 кВт/л дистиллята)</td>
          <td class="table__cell">7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
          <td class="table__cell">7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
        </tr>
        <tr>
          <th class="table__row-header">Потребляемая мощность</th>
          <td class="table__cell">3 кВт/ч (0,75 кВт/л дистиллята)</td>
          <td class="table__cell">7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
          <td class="table__cell">7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
        </tr>
        <tr>
          <th class="table__row-header">Потребляемая мощность</th>
          <td class="table__cell">3 кВт/ч (0,75 кВт/л дистиллята)</td>
          <td class="table__cell">7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
          <td class="table__cell">7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
        </tr>
        <tr>
          <th class="table__row-header">Потребляемая мощность</th>
          <td class="table__cell">3 кВт/ч (0,75 кВт/л дистиллята)</td>
          <td class="table__cell">7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
          <td class="table__cell">7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
        </tr>
        <tr>
          <th class="table__row-header">Потребляемая мощность</th>
          <td class="table__cell">3 кВт/ч (0,75 кВт/л дистиллята)</td>
          <td class="table__cell">7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
          <td class="table__cell">7,5 кВт/ч (0,75 кВт/л дистиллята)</td>
        </tr>
      </tbody>
    </table>

    <a class="state-page__btn ui-btn ui-btn--ghost-blue" href="#"
      >Словарь терминов</a
    >

    <!-- Пагинация -->
    <div
      class="state-page__navigate pagination"
      aria-label="Постраничная навигация"
    >
      <a href="" class="pagination__link pagination__link--disabled prev">
        <svg class="pagination__icon">
          <use xlink:href="img/sprite.svg#chevrons-right"></use>
        </svg>
        <span>Предыдущая</span>
      </a>
      <a href="" class="pagination__link next">
        <span>Следующая</span>
        <svg class="pagination__icon">
          <use xlink:href="img/sprite.svg#chevrons-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
