<div class="textredactor sec-offset">
  <div class="container">
    <h2>1. Назначение и область применения</h2>
    <p>
      1.1. Настоящая «Политика по обработке персональных данных в ООО "Листон" (далее - Политика) является локальным нормативным актом
      ООО "Листон" (далее - Компания).<br>
      1.2. Настоящая Политика определяет принципы и условия обработки ПДн, меры по защите ПДн, а также обязанности Компании при их
      обработке.<br>
      1.3. Настоящая Политика разработана в соответствии с действующим законодательством Российской Федерации о персональных данных и
      нормативно-методическими документами исполнительных органов государственной власти по вопросам безопасности ПДн. в том числе при
      их обработке в информационных системах ПДн (далее - ИСПДн).<br>
      1.4. Действие настоящей Политики по обработке персональных данных распространяется на все процессы по сбору, записи,
      систематизации, накоплению, хранению, уточнению, извлечению, использованию, передаче (распространению, предоставлению, доступу),
      обезличиванию. блокированию, удалению, уничтожению персональных данных, осуществляемых с использованием средств автоматизации и
      без использования таких средств.
    </p>

    <h2>2. Термины, определения и сокращения</h2>

    <h2>3. Принципы обработки ПДН</h2>

    <h2>4. Условия обработки ПДН</h2>

    <h2>5. Обязанности компании</h2>

    <h2>6. Меры по обеспечению безопасности персональных данных при их обработке</h2>


    <h2>7. Актуализация документа</h2>
    <p>
      Основными механизмами для пересмотра и совершенствования настоящей Политики являются внутренние и внешние аудиты ИБ,
      а также анализ системы обеспечения информационной безопасности Службой ИБ в сочетании с использованием превентивных и
      корректирующих мер с интервалом не реже одного раза в два года.
    </p>
  </div>
</div>
