:root {
  /* Fonts */
  /* ------------------------------------ */
  --font-family: "InterTight", sans-serif;
  --content-width: 1400px;
  --container-offset: 16px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  /* Colors */
  /* ------------------------------------ */
  --black: #000404;
  --black-80: rgba(0, 4, 4, 0.80);
  --black-56: rgba(0, 4, 4, 0.56);
  --black-40: rgba(0, 4, 4, 0.4);
  --black-48: rgba(0, 4, 4, 0.48);
  --black-24: rgba(0, 4, 4, 0.24);
  --grey: #777f86;
  --grey-medium: #d7d9db;
  --grey-light: #f5f5f7;
  --blue-light: #F9F9F9;
  --white: #fff;
  --white-56: rgb(255, 255, 255, 0.56);
  --white-40: rgb(255, 255, 255, 0.40);
  --white-24: rgba(255, 255, 255, 0.24);
  --white-16: rgb(255, 255, 255, 0.16);
  --accent: #29ade3;
  --accent-dark: #687a92;
  --bg: #f7f7f7;
  --red: #e1110e;
  --border: #c3c4c8;
  --card-bg: #D7D7D7;


  /* Animaition */
  /* ------------------------------------ */
  --transition-300: 0.3s ease-in-out;
  --transition-500: 0.5s linear;
}
